Repository Gizzahub/gzh-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: fast-format-check, fast-lint-check, go-mod-tidy, markdown-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
      - id: check-json
      - id: pretty-format-json
        args: ['--autofix']
      - id: check-toml
      - id: check-xml
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  - repo: local
    hooks:
      - id: fast-format-check
        name: Fast Go format check
        entry: bash -c 'make fmt-diff'
        language: system
        types: [go]
        pass_filenames: false

      - id: fast-lint-check
        name: Fast Go lint check
        entry: bash -c 'make lint-diff'
        language: system
        types: [go]
        pass_filenames: false

      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        pass_filenames: false
        files: ^go\.(mod|sum)$

      - id: markdown-format
        name: Format markdown files
        entry: mdformat
        language: system
        types: [markdown]
        require_serial: true

build(lint): pin Go 1.26 compatible tool
  .make/quality.mk
  .make/tools.mk
Due: none

build(lint): fail closed in report helpers
  .make/quality.mk
  .make/tools.mk
Due: none

ci: trigger quality checks for policy inputs
  .github/workflows/main.yml
Due: none

ci: cover data-driven quality inputs
  .github/workflows/main.yml
Due: none

build(security): fix and pin gosec installer
  .make/quality.mk
  .make/tools.mk
Due: none

ci: build the supported gz binary
  .github/workflows/main.yml
Due: none

build(security): enforce pinned standalone policy
  .github/workflows/main.yml
  .gosec.json
  .gosec.yaml
  .make/quality.mk
  .make/tools.mk
  docs/60-development/64-pre-commit-hooks.md
  docs/70-deployment/73-security-scanning.md
  docs/99-appendix/99-references.md
Due: markdown-format

build(security): preserve pinned gosec coverage
  .make/quality.mk
  .make/tools.mk
  docs/70-deployment/73-security-scanning.md
Due: markdown-format

build(security): make jq filters portable
  .make/quality.mk
Due: none

fix(doctor): contain metrics file reads
  cmd/doctor/container.go
  cmd/doctor/metrics.go
  cmd/doctor/metrics_test.go
Due: fast-format-check, fast-lint-check

fix(simpleprof): isolate pprof server exposure
  .golangci.yml
  cmd/profile/profile.go
  cmd/profile/profile_test.go
  internal/simpleprof/profiler.go
  internal/simpleprof/profiler_test.go
Due: fast-format-check, fast-lint-check

fix(simpleprof): preserve pprof method limits
  internal/simpleprof/profiler.go
  internal/simpleprof/profiler_test.go
Due: fast-format-check, fast-lint-check

fix(simpleprof): support legacy mux routing
  internal/simpleprof/profiler.go
  internal/simpleprof/profiler_test.go
Due: fast-format-check, fast-lint-check

fix(gzhclient): enforce GitHub request origin
  .golangci.yml
  pkg/gzhclient/client.go
  pkg/gzhclient/client_test.go
Due: fast-format-check, fast-lint-check

fix(gzhclient): revalidate redirect hook mutations
  pkg/gzhclient/client.go
  pkg/gzhclient/client_test.go
Due: fast-format-check, fast-lint-check

fix(profiling): bound runtime GC timestamps
  cmd/profile/enhanced_profiling.go
  internal/simpleprof/profiler.go
  internal/simpleprof/profiler_test.go
Due: fast-format-check, fast-lint-check

fix(profiling): preserve full GC timestamp range
  internal/simpleprof/profiler.go
  internal/simpleprof/profiler_test.go
Due: fast-format-check, fast-lint-check

fix(profiling): bound per-operation metrics
  internal/profiling/benchmarks.go
  internal/profiling/benchmarks_test.go
Due: fast-format-check, fast-lint-check

fix(profiling): bound signed memory deltas
  internal/profiling/middleware.go
  internal/profiling/middleware_test.go
Due: fast-format-check, fast-lint-check

fix(release): align GoReleaser v2 contract
  .goreleaser.yml
  docs/20-architecture/24-improvement-strategies.md
  docs/70-deployment/70-releases.md
  docs/70-deployment/72-release-notes-v1.0.0.md
  docs/troubleshooting/GO_VERSION_MISMATCH.md
Due: markdown-format

fix(release): ignore non-version history tag
  .goreleaser.yml
Due: none

fix(release): generate hidden shell completions
  scripts/completiongen/main.go
  scripts/completions.sh
Due: fast-format-check, fast-lint-check

docs(release): match embedded version metadata
  docs/70-deployment/70-releases.md
Due: markdown-format

style(release): format metadata documentation
  docs/70-deployment/70-releases.md
Due: markdown-format

fix(release): keep generated sources clean
  .goreleaser.yml
  completions/gzh-manager.bash
  completions/gzh-manager.fish
  completions/gzh-manager.zsh
Due: none

fix(release): validate generated manpage
  docs/70-deployment/70-releases.md
  scripts/manpagegen/main.go
Due: fast-format-check, fast-lint-check, markdown-format

fix(release): make generators deterministic
  .goreleaser.yml
  docs/70-deployment/70-releases.md
  docs/70-deployment/72-release-notes-v1.0.0.md
  scripts/completiongen/main.go
  scripts/manpagegen/main.go
  scripts/manpages.sh
Due: fast-format-check, fast-lint-check, markdown-format

fix(release): isolate generated command docs
  cmd/root.go
  cmd/root_test.go
  docs/70-deployment/70-releases.md
  docs/70-deployment/72-release-notes-v1.0.0.md
  scripts/completiongen/main.go
  scripts/manpagegen/main.go
  scripts/manpages.sh
Due: fast-format-check, fast-lint-check, markdown-format

test(release): pin generator root selection
  docs/70-deployment/70-releases.md
  scripts/completiongen/main.go
  scripts/completiongen/main_test.go
  scripts/manpagegen/main.go
  scripts/manpagegen/main_test.go
Due: fast-format-check, fast-lint-check, markdown-format

docs(release): include root options in manpage
  scripts/manpagegen/main.go
  scripts/manpagegen/main_test.go
Due: fast-format-check, fast-lint-check

test(release): verify extension-free generation
  cmd/root_test.go
  scripts/completiongen/main_test.go
  scripts/manpagegen/main_test.go
Due: fast-format-check, fast-lint-check

test(release): avoid HOME mutation in generator tests
  cmd/root_test.go
  scripts/completiongen/main_test.go
  scripts/manpagegen/main_test.go
Due: fast-format-check, fast-lint-check

test(release): pin constructor wiring without HOME
  cmd/root_test.go
  scripts/completiongen/main_test.go
  scripts/manpagegen/main_test.go
Due: fast-format-check, fast-lint-check

fix(security): verify SSH host keys
  cmd/dev-env/ssh_host_key.go
  cmd/dev-env/ssh_host_key_test.go
  cmd/dev-env/ssh_install_key.go
  cmd/dev-env/ssh_key_installer.go
  cmd/dev-env/ssh_simple_installer.go
  cmd/dev-env/ssh_simple_installer_test.go
  completions/gzh-manager.bash
  docs/30-features/33-ssh-management.md
  docs/30-features/dev-env-specification.md
  docs/50-api-reference/50-command-reference.md
Due: fast-format-check, fast-lint-check, markdown-format

fix(security): pin SSH host identity
  cmd/dev-env/ssh_host_key.go
  cmd/dev-env/ssh_host_key_test.go
  cmd/dev-env/ssh_simple_installer.go
  cmd/dev-env/ssh_simple_installer_test.go
  completions/gzh-manager.fish
  completions/gzh-manager.zsh
  docs/30-features/33-ssh-management.md
Due: fast-format-check, fast-lint-check, markdown-format

test(security): preserve known hosts permissions
  cmd/dev-env/ssh_host_key_test.go
Due: fast-format-check, fast-lint-check

test(security): cover known hosts append modes
  cmd/dev-env/ssh_host_key_test.go
Due: fast-format-check, fast-lint-check

test(security): handle privileged permission checks
  cmd/dev-env/ssh_host_key_test.go
Due: fast-format-check, fast-lint-check

fix(security): align OpenSSH trust source
  cmd/dev-env/ssh_host_key.go
  cmd/dev-env/ssh_host_key_test.go
  cmd/dev-env/ssh_key_installer.go
  cmd/dev-env/ssh_key_installer_test.go
  cmd/dev-env/ssh_simple_installer.go
  cmd/dev-env/ssh_simple_installer_test.go
  docs/50-api-reference/50-command-reference.md
Due: fast-format-check, fast-lint-check, markdown-format

fix(security): preserve SSH host key alias
  cmd/dev-env/ssh_simple_installer.go
  cmd/dev-env/ssh_simple_installer_test.go
Due: fast-format-check, fast-lint-check
