Repository Gizzahub/gzh-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: gci, gosec, go-mod-tidy, go-vuln-check

gci:
  name: Format Go imports with gci
  entry: gci
  args:
  - write
  - --skip-generated
  language: system
  pass_filenames: true

gosec:
  name: Security scan Go code with gosec
  entry: gosec
  args:
  - -fmt=json
  - -out=gosec-report.json
  - -stdout
  - -verbose=text
  - ./...
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Tidy Go modules
  entry: go
  args:
  - mod
  - tidy
  language: system
  pass_filenames: false

go-vuln-check:
  name: Check Go vulnerabilities
  entry: govulncheck
  args:
  - ./...
  language: system
  pass_filenames: false

task: backlog
  tasks/backlog/bulk-clone.md
  tasks/backlog/git.md
  tasks/backlog/github.md
  tasks/backlog/gitlab.md
  tasks/backlog/pkg.md
  test_compilation.go
Due: gci, gosec, go-vuln-check

fix: lint
  pkg/github/automation_engine.go
  pkg/github/automation_engine_test.go
  pkg/github/webhook_monitor_test.go
Due: gci, gosec, go-vuln-check

fix: add missing errors package imports
  cmd/net-env/docker_network.go
  cmd/repo-sync/sync_cmd.go
  internal/errors/recovery.go
  internal/testutil/mocking/testify_mocks.go
  pkg/config/startup_validator.go
  pkg/github/github_org_clone.go
  pkg/github/largescale/adaptive_rate_limiter_test.go
  pkg/github/largescale/large_scale_operations_test.go
  pkg/github/repo_config.go
  pkg/github/resilient_client_test.go
  pkg/gzhclient/examples_test.go
  tasks/todo/2025-07-18-this-session-is-being-continued-from-a-previous-co.txt
  test/e2e/helpers/cli.go
Due: gci, gosec, go-vuln-check

fix: improve golangci-lint configuration and fix critical issues
  .golangci.yml
  internal/testutil/example_test.go
  pkg/github/rate_limiter_test.go
Due: gci, gosec, go-vuln-check

fix: resolve govet issues and improve code quality
  pkg/bulk-clone/example_test.go
  pkg/github/example_test.go
  pkg/github/largescale/large_scale_operations.go
Due: gci, gosec, go-vuln-check

fix(claude): convert JSON struct tags from snake_case to camelCase
  .golangci.yml
  CLAUDE.md
  TECH_STACK.md
  cmd/always-latest/always_latest_asdf.go
  cmd/always-latest/always_latest_brew.go
  cmd/config/init.go
  cmd/config/init_test.go
  cmd/config/profile.go
  cmd/config/profile_test.go
  cmd/dev-env/aws.go
  cmd/dev-env/aws_credentials.go
  cmd/dev-env/aws_profile.go
  cmd/docker/optimize.go
  cmd/event.go
  cmd/gen-config/gen_config_discover.go
  cmd/net-env/cloud.go
  cmd/repo-config/risk.go
  cmd/ssh-config/ssh_config_generate.go
  cmd/task-runner.go
  docs/defs/ROADMAP.md
  docs/defs/bulk-clone.md
  docs/defs/git-command-plugin.md
  docs/defs/github.md
  docs/defs/gitlab.md
  docs/defs/pkg.md
  internal/logger/structured.go
  pkg/bulk-clone/example_test.go
  pkg/cloud/sync.go
  pkg/cloud/sync_test.go
  pkg/config/config_builder_test.go
  pkg/config/factory_test.go
  pkg/github/factory_test.go
  pkg/github/rule_manager.go
  pkg/github/token_aware_client.go
  pkg/github/webhook_monitor.go
  pkg/gitlab/example_test.go
  pkg/gzhclient/client.go
  tasks/backlog/git.md
Due: gci, gosec, go-vuln-check

fix(lint): exclude testpackage linter for cmd test files
  .golangci.yml
Due: none

fix(lint): finalize testpackage exclusion for cmd directory
  .golangci.yml
Due: none

fix(lint): resolve revive and partial unparam errors
  cmd/ide/ide.go
  cmd/net-env/vpn_failover_cmd.go
Due: gci, gosec, go-vuln-check

fix(lint): resolve additional errcheck errors
  pkg/github/github_org_clone.go
  pkg/github/rate_limiter_test.go
  pkg/github/repo_config.go
Due: gci, gosec, go-vuln-check

fix(lint): resolve additional errcheck, gosec, and goconst errors
  cmd/gen-config/gen_config_init.go
  cmd/net-env/cloud.go
  pkg/bulk-clone/example_test.go
  pkg/github/optimized_bulk_clone.go
  pkg/github/optimized_bulk_clone_test.go
  pkg/github/rate_limiter_test.go
  test/e2e/helpers/filesystem.go
  test/integration/github/fixtures.go
Due: gci, gosec, go-vuln-check

fix(lint): address errcheck, goconst, and gosec errors
  cmd/dev-env/aws_profile.go
  cmd/net-env/container_detection_test.go
  cmd/net-env/docker_container_network_test.go
  cmd/net-env/kubernetes_network.go
  cmd/net-env/kubernetes_network_cmd.go
  cmd/net-env/kubernetes_network_test.go
  cmd/net-env/kubernetes_service_mesh.go
  cmd/net-env/network_analysis_cmd.go
  cmd/net-env/optimal_routing_cmd.go
  internal/env/constants.go
  lint_errors.txt
  pkg/cloud/sync.go
  pkg/cloud/sync_test.go
  pkg/github/repo_config.go
  test/e2e/helpers/filesystem.go
  test/integration/github/repo_config_integration_test.go
Due: gci, gosec, go-vuln-check

fix(goconst): replace string literals with constants
  cmd/dev-env/aws_profile.go
  cmd/gen-config/gen_config_discover.go
  cmd/net-env/container_detection_test.go
  cmd/net-env/docker_container_network_test.go
  cmd/net-env/network_analysis_cmd.go
  cmd/net-env/optimal_routing_cmd.go
  internal/helpers/git_helper.go
  internal/helpers/git_helper_test.go
  pkg/bulk-clone/example_test.go
  pkg/cloud/sync.go
  pkg/cloud/sync_test.go
  pkg/config/schema.go
  pkg/config/startup_validator.go
  pkg/github/bulk_operations.go
  pkg/github/github_org_clone.go
  pkg/github/optimized_bulk_clone.go
  pkg/github/repo_config_test.go
  pkg/github/resilient_client.go
  pkg/github/resilient_client_test.go
  pkg/github/resumable_clone.go
Due: gci, gosec, go-vuln-check

fix(lint): massive lint error reduction - fixed ~80% of issues
  internal/config/service_test.go
  internal/testutil/example_test.go
  internal/testutil/fixtures/config_fixtures.go
  pkg/github/dependabot_policy_manager_test.go
  pkg/github/repo_config.go
  pkg/github/repo_config_test.go
  pkg/github/resilient_client_test.go
  pkg/github/test_common.go
  pkg/github/token_aware_client_test.go
  pkg/github/token_validator.go
  pkg/github/token_validator_test.go
  pkg/github/webhook_config_test.go
  test/e2e/scenarios/bulk_clone_e2e_test.go
  test/e2e/scenarios/config_e2e_test.go
  test/integration/github/fixtures.go
Due: gci, gosec, go-vuln-check

fix(claude): resolve errcheck lint issues
  cmd/dev-env/aws.go
  cmd/dev-env/aws_credentials.go
  cmd/dev-env/aws_profile.go
  cmd/dev-env/azure_subscription.go
  cmd/dev-env/gcloud_test.go
  cmd/net-env/container_detection.go
  cmd/net-env/container_detection_cmd.go
  cmd/net-env/container_detection_test.go
  cmd/net-env/docker_network.go
  cmd/net-env/kubernetes_service_mesh.go
  cmd/net-env/kubernetes_service_mesh_cmd.go
  cmd/net-env/network_analysis_cmd.go
  cmd/net-env/network_metrics_cmd.go
  cmd/net-env/network_topology.go
  cmd/net-env/network_topology_cmd.go
  cmd/net-env/optimal_routing_cmd.go
  cmd/net-env/performance_test.go
  cmd/net-env/vpn_failover_cmd.go
  cmd/net-env/vpn_hierarchy_cmd.go
  cmd/net-env/vpn_profile_cmd.go
  pkg/config/unified_schema.go
  pkg/github/dependency_version_policy.go
  pkg/github/repo_config_test.go
  pkg/github/resilient_client_test.go
  pkg/github/resumable_clone.go
  pkg/github/rule_manager_test.go
  pkg/github/security_update_policy_test.go
  pkg/github/streaming_api.go
  pkg/github/token_aware_client.go
  pkg/github/token_validator.go
  pkg/github/webhook_config_test.go
  pkg/github/workflow_auditor_test.go
Due: gci, gosec, go-vuln-check

fix(claude): resolve unused parameter diagnostics
  cmd/net-env/network_metrics_cmd.go
  cmd/net-env/network_topology_cmd.go
  cmd/net-env/optimal_routing_cmd.go
  cmd/net-env/vpn_failover_cmd.go
  cmd/net-env/vpn_hierarchy_cmd.go
  cmd/net-env/vpn_profile_cmd.go
Due: gci, gosec, go-vuln-check

chore(claude): 프로젝트 전반적 정리 - 미사용 파일/코드 정리
  check_current_state.sh
  check_lint.sh
  cmd/event_di.go
  cmd/event_refactored.go
  cmd/webhook_di.go
  cmd/webhook_simple_test.go
  commit.sh
  commit_changes.sh
  do_commit.sh
  docs/01-getting-started/README.md
  docs/03-core-features/README.md
  docs/03-core-features/bulk-clone/README.md
  docs/04-configuration/compatibility-analysis.md
  docs/04-configuration/configuration-priority-test.md
  docs/INDEX.md
  examples/programmatic-usage.go
  format_and_lint.sh
  go.mod
  go.sum
  lint-analysis-report.md
  lint-output.txt
  run_lint.sh
  single_commit.sh
  tasks/todo/2025-07-18-this-session-is-being-continued-from-a-previous-co.txt
  test_lint_exclusions.sh
  tools/tools.go
Due: gci, gosec, go-mod-tidy, go-vuln-check

Claude PR Assistant workflow
  .github/workflows/claude.yml
Due: none

Claude Code Review workflow
  .github/workflows/claude-code-review.yml
Due: none

chore: remote diff
  refactor/phase3/01_ANALYSIS_PLANNING.md
  refactor/phase3/02_CHECKLIST_GENERATION.md
  refactor/phase3/03_EXECUTION_VALIDATION.md
  refactor/phase3/CLEANUP_SUMMARY.md
  refactor/phase3/IMPROVEMENTS_SUMMARY.md
  refactor/phase3/README.md
Due: none

feat(ci): update Go version to 1.24 across all workflows
  .github/workflows/ci.yml
  .github/workflows/commitlint.yml
  .github/workflows/coverage.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/goreleaser.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

test: pre-commit functionality
  test_file.txt
Due: none

chore: task todo
  .claude/settings.local.json
  tasks/todo/01-merge-remote-develop.md
  tasks/todo/02-setup-new-cicd-workflows.md
  tasks/todo/03-implement-bulk-clone-performance.md
  tasks/todo/04-add-programmatic-usage-examples.md
  tasks/todo/05-implement-streaming-api-large-orgs.md
Due: none

chore(claude): selective project cleanup
  check_current_state.sh
  check_lint.sh
  cmd/event_di.go
  cmd/event_refactored.go
  cmd/webhook_di.go
  commit.sh
  commit_changes.sh
  do_commit.sh
  examples/programmatic-usage.go
  format_and_lint.sh
  lint-analysis-report.md
  lint-output.txt
  lint_errors.txt
  run_lint.sh
Due: gci, gosec, go-vuln-check

fix: lint
  cmd/dev-env/aws_credentials.go
  cmd/dev-env/aws_test.go
  cmd/dev-env/docker.go
  cmd/dev-env/gcp_project.go
  cmd/dev-env/kubeconfig_test.go
  cmd/net-env/network_metrics_cmd.go
  pkg/github/token_validator.go
Due: gci, gosec, go-vuln-check

fix: lint
  cmd/dev-env/aws_credentials.go
  cmd/dev-env/aws_test.go
  cmd/dev-env/docker.go
  cmd/dev-env/gcp_project.go
  cmd/dev-env/kubeconfig_test.go
Due: gci, gosec, go-vuln-check

fix: lint, deps
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .pre-commit-config.yaml
  Makefile
  Makefile.deps.mk
  Makefile.lint.mk
  docs/dependency-management.md
  pkg/gzhclient/doc.go
Due: gci, gosec, go-vuln-check

fix: depup
  go.mod
  go.sum
Due: go-mod-tidy

Path conditions:
  gci: any of: \.go$
  gosec: any of: \.go$
  go-mod-tidy: any of: (go\.mod|go\.sum)$
  go-vuln-check: any of: \.go$
