Repository Gizzahub/gzh-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: gci, gosec, go-mod-tidy, go-vuln-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
repos:
  # Generic file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: check-added-large-files
        args: [--maxkb=500]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: detect-private-key
      - id: mixed-line-ending
        args: [--fix=lf]

  # Go-specific hooks using tekwizely/pre-commit-golang
  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-build-mod
      - id: go-test-mod
        args: [-short, -race]
      - id: go-vet-mod
      - id: go-staticcheck-mod
      - id: go-fumpt
      - id: golangci-lint-mod
        args: [-c=.golang-ci.yml, --fix]

  # Additional Go tooling
  - repo: local
    hooks:
      # Go import formatting with gci
      - id: gci
        name: Format Go imports with gci
        entry: gci
        args: [write, --skip-generated]
        language: system
        files: \.go$
        pass_filenames: true

      # Go security scanning with gosec
      - id: gosec
        name: Security scan Go code with gosec
        entry: gosec
        args: [-fmt=json, -out=gosec-report.json, -stdout, -verbose=text, ./...]
        language: system
        files: \.go$
        pass_filenames: false

      # Go module checks
      - id: go-mod-tidy
        name: Tidy Go modules
        entry: go
        args: [mod, tidy]
        language: system
        files: (go\.mod|go\.sum)$
        pass_filenames: false

      # Go vulnerability check
      - id: go-vuln-check
        name: Check Go vulnerabilities
        entry: govulncheck
        args: [./...]
        language: system
        files: \.go$
        pass_filenames: false

  # YAML/JSON/Markdown formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: \.(yaml|yml|json|md)$
        exclude: |
          (?x)(
            ^test/.*\.yaml$|
            ^test/.*\.yml$|
            ^samples/.*\.yaml$|
            ^samples/.*\.yml$|
            ^docs/.*\.json$
          )

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        args: [--ignore, DL3008, --ignore, DL3009]

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [-e, SC1091, -e, SC2034]

  # Commit message formatting
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.2.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [--strict, --optional-scope]

  # Secrets detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: [--baseline, .secrets.baseline]
        exclude: |
          (?x)(
            ^test/.*\.go$|
            ^.*_test\.go$|
            ^samples/.*$|
            ^docs/.*$
          )

# Configuration
default_install_hook_types: [pre-commit, commit-msg, pre-push]
default_stages: [pre-commit]

# CI configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: [go-test-mod, go-vuln-check, gosec]
  submodules: false

feat(security): enable comprehensive security scanning with gosec
  .golang-ci.yml
  .gosec.yaml
  Makefile
  SECURITY.md
  docs/security-scanning.md
  tasks/todo/REFACTORING_CHECKLIST.md
Due: none

feat(release): implement comprehensive automated release pipeline
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/release.yml
  .goreleaser.yml
  Makefile
  cmd/version.go
  docs/releases.md
  main.go
  tasks/todo/REFACTORING_CHECKLIST.md
Due: gci, gosec, go-vuln-check

feat(devcontainer): 개발 컨테이너 환경 구성 완료
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .devcontainer/scripts/initialize.sh
  .devcontainer/scripts/post-attach.sh
  .devcontainer/scripts/post-create.sh
  .devcontainer/scripts/post-start.sh
  .vscode/launch.json
  docs/development-container.md
  tasks/todo/REFACTORING_CHECKLIST.md
Due: none

feat(debug): 포괄적인 디버깅 설정 구성 완료
  .delve/config.yml
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  docs/debugging-guide.md
  scripts/debug/README.md
  scripts/debug/debug-attach.sh
  scripts/debug/debug-cli.sh
  scripts/debug/debug-test.sh
  tasks/todo/REFACTORING_CHECKLIST.md
Due: none

feat(docs): 패키지 수준 문서화 완료
  cmd/debug/doc.go
  cmd/dev-env/doc.go
  cmd/docker/doc.go
  internal/testlib/doc.go
  internal/utils/doc.go
  pkg/audit/doc.go
  pkg/cloud/doc.go
  pkg/compliance/doc.go
  tasks/todo/REFACTORING_CHECKLIST.md
Due: gci, gosec, go-vuln-check

feat(docs): 주요 exported 함수 문서화
  cmd/bulk-clone/bulk_clone.go
  pkg/errors/error_system.go
  pkg/gitea/gitea_org_clone.go
  pkg/github/github_org_clone.go
  pkg/gitlab/gitlab_group_clone.go
Due: gci, gosec, go-vuln-check

feat(docs): 주요 패키지 예제 코드 추가
  pkg/bulk-clone/example_test.go
  pkg/errors/example_test.go
  pkg/github/example_test.go
  pkg/gitlab/example_test.go
Due: gci, gosec, go-vuln-check

feat(docs): 시스템 아키텍처 문서 추가
  docs/architecture.md
  tasks/todo/REFACTORING_CHECKLIST.md
Due: none

feat(platform): 크로스 플랫폼 호환성 대폭 개선
  cmd/always-latest/doc.go
  cmd/bulk-clone/doc.go
  cmd/gen-config/doc.go
  cmd/ide/doc.go
  cmd/monitoring/doc.go
  cmd/net-env/doc.go
  cmd/serve/doc.go
  cmd/ssh-config/doc.go
  internal/filesystem/doc.go
  internal/git/doc.go
  internal/helpers/git_helper_test.go
  internal/httpclient/doc.go
  internal/utils/platform.go
  internal/utils/platform_test.go
  internal/workerpool/doc.go
  pkg/api/doc.go
  pkg/async/doc.go
  pkg/bulk-clone/example_test.go
  pkg/cache/doc.go
  pkg/errors/doc.go
  pkg/i18n/doc.go
  pkg/memory/doc.go
  pkg/recovery/doc.go
  pkg/recovery/fallback_providers.go
Due: gci, gosec, go-vuln-check

feat(largescale): 대규모 저장소 처리 시스템 구현 완료
  pkg/github/github_api_test.go
  pkg/github/largescale/adaptive_rate_limiter.go
  pkg/github/largescale/adaptive_rate_limiter_test.go
  pkg/github/largescale/doc.go
  pkg/github/largescale/large_scale_operations.go
  pkg/github/largescale/large_scale_operations_test.go
  tasks/todo/REFACTORING_CHECKLIST.md
Due: gci, gosec, go-vuln-check

feat(recovery): 네트워크 중단 복구 시스템 구현
  pkg/errors/knowledge_base.go
  pkg/github/resilient_client.go
  pkg/github/resilient_client_test.go
  pkg/gitlab/resilient_client.go
  pkg/recovery/example_test.go
  pkg/recovery/http_factory.go
  pkg/recovery/network_client.go
  pkg/recovery/network_client_test.go
  pkg/recovery/recovery_integration.go.disabled
  pkg/recovery/recovery_test.go
  tasks/todo/REFACTORING_CHECKLIST.md
Due: gci, gosec, go-vuln-check

feat(recovery): 토큰 만료 처리 시스템 구현
  pkg/github/token_aware_client.go
  pkg/github/token_aware_client_test.go
  pkg/recovery/token_example_test.go
  pkg/recovery/token_integration.go
  pkg/recovery/token_manager.go
  pkg/recovery/token_manager_test.go
  pkg/recovery/token_refresher.go
  pkg/recovery/token_refresher_test.go
  tasks/todo/REFACTORING_CHECKLIST.md
Due: gci, gosec, go-vuln-check

feat(config): 구성 파일 마이그레이션 기능 확인 완료
  tasks/todo/REFACTORING_CHECKLIST.md
Due: none

feat(test): 테스트 커버리지 향상 - 안정성 강화
  pkg/debug/logger_test.go
  pkg/debug/profiler.go
  pkg/debug/profiler_test.go
  pkg/debug/tracer_test.go
  pkg/i18n/extractor.go
  pkg/i18n/manager.go
  pkg/i18n/manager_test.go
  pkg/i18n/testing.go
  tasks/todo/20250712__performance_optimization.md
Due: gci, gosec, go-vuln-check

feat(refactoring): 코드 리팩토링 - 중복 코드 제거 및 모듈 구조 개선
  cmd/dev-env/aws_profile.go
  cmd/dev-env/azure_subscription.go
  cmd/dev-env/gcp_project.go
  cmd/dev-env/gcp_service_account.go
  cmd/docker/build.go
  cmd/docker/optimize.go
  cmd/docker/optimizer.go
  cmd/docker/scan.go
  cmd/doctor/doctor.go
  cmd/i18n/test.go
  cmd/jenkins/generate.go
  cmd/performance/async_processing.go
  cmd/performance/error_handling.go
  cmd/plugin/plugin.go
  cmd/repo-sync/quality_check_cmd.go
  cmd/repo-sync/quality_tools_go.go
  cmd/repo-sync/quality_tools_python.go
  cmd/template/enterprise.go
  cmd/template/marketplace.go
  cmd/template/publish.go
  cmd/template/search.go
  cmd/template/security.go
  cmd/template/serve.go
  cmd/terraform/generate.go
  cmd/terraform/state.go
  go.mod
  go.sum
  pkg/common/quality_analyzer.go
  pkg/github/actions_policy_validation_rules.go
  pkg/github/automation_engine.go
  pkg/github/cached_client.go
  pkg/github/streaming_api.go
  pkg/github/token_aware_client.go
  pkg/github/token_validator.go
  pkg/gitlab/resilient_client.go
  tasks/todo/20250712__performance_optimization.md
Due: gci, gosec, go-mod-tidy, go-vuln-check

feat(logging): 구조화된 로깅 시스템 구현 완료
  go.mod
  pkg/debug/logger_test.go
  pkg/debug/structured_logger.go
  tasks/todo/20250712__performance_optimization.md
Due: gci, gosec, go-mod-tidy, go-vuln-check

feat(logging): 로그 레벨 세분화 - 동적 로그 제어 시스템 구현
  pkg/debug/log_level_http.go
  pkg/debug/log_level_manager.go
  pkg/debug/log_level_manager_test.go
Due: gci, gosec, go-vuln-check

feat(logging): 원격 로깅 지원 - 중앙 집중식 로그 관리 시스템 구현
  pkg/debug/centralized_integration.go
  pkg/debug/centralized_integration_test.go
  pkg/debug/example_integration.go
  pkg/debug/logging_config.go
Due: gci, gosec, go-vuln-check

feat(docs): 문서화 개선 - godoc 준수 및 API 문서 생성
  data/tasks.json
  docs/api/debug.md
  docs/architecture.md
  pkg/debug/centralized_integration.go
  pkg/debug/doc.go
  pkg/debug/example_integration.go
  pkg/debug/log_level_manager.go
  pkg/debug/logging_config.go
  pkg/debug/profiler.go
  pkg/debug/structured_logger.go
  tasks/todo/20250712__performance_optimization.md
Due: gci, gosec, go-vuln-check

chore(tasks): TASK_RUNNER 처리 완료 - 리팩토링 체크리스트 이동
  tasks/done/20250712__performance_optimization__DONE_20250715.md
  tasks/done/REFACTORING_CHECKLIST__DONE_20250715.md
Due: none

feat(qa): QA 시나리오 생성 및 완료 작업 처리
  tasks/backlog/ROADMAP.md
  tasks/backlog/SKIP.md
  tasks/done/20250712__cli_focused_refactor__DONE_20250712.md
  tasks/done/20250712__developer_experience_enhancements__DONE_20250713.md
  tasks/done/20250712__infrastructure_deployment_support__DONE_20250713.md
  tasks/done/20250712__performance_optimization__DONE_20250715.md
  tasks/done/REFACTORING_CHECKLIST__DONE_20250715.md
  tasks/qa-result.md
  tasks/qa/cli-refactor-functional.qa.md
  tasks/qa/developer-experience-integration.qa.md
  tasks/qa/infrastructure-deployment.qa.md
  tasks/qa/performance-optimization.qa.md
Due: none

chore: task
  results/conversation-2025-07-16-143408.txt
  tasks/todo/2025-07-15-this-session-is-being-continued-from-a-previous-co.txt
Due: none

fix(compile): 컴파일 에러 수정 - cmd 패키지 타입 및 미사용 변수 해결
  cmd/net-env/kubernetes_network.go
  cmd/net-env/kubernetes_network_cmd.go
  cmd/net-env/kubernetes_network_simple.go
  cmd/net-env/vpn_failover_cmd.go
  cmd/net-env/vpn_hierarchy_cmd.go
  cmd/repo-sync/multi_watch_cmd.go
  cmd/repo-sync/quality_check_cmd.go
Due: gci, gosec, go-vuln-check

feat(qa): QA 시나리오 생성 및 완료 작업 처리
  tasks/qa/QA_AUTO_PROCESSING_RESULTS.md
  tasks/qa/QA_FINAL_REPORT.md
  tasks/qa/auto_qa_processor.sh
  tasks/qa/fin/cli-refactor-functional__DONE_20250716.qa.md
  tasks/qa/fin/network-environment-management__DONE_20250716.qa.md
  tasks/qa/fin/user-experience-improvements__DONE_20250716.qa.md
  tasks/qa/fixes-needed.md
  tasks/qa/manual/ALL_MANUAL_TESTS_SUMMARY.md
  tasks/qa/manual/github-org-management-agent-commands.md
  tasks/qa/manual/github-organization-management.qa.md
  tasks/qa/manual/network-env-manual-tests.md
  tasks/qa/manual/qa-test-results.md
  tasks/qa/qa-result.md
  tasks/qa/qa-status-analysis.md
  tasks/qa/qa-test-results.md
  tasks/qa/qa_processing_summary.md
  tasks/qa/run_automated_tests.sh
  tasks/qa/tests/cli-refactor-automated.sh
  tasks/qa/tests/network-env-automated.sh
  tasks/qa/tests/user-experience-automated.sh
Due: none

chore(results): 처리 완료된 대화 기록 정리
  results/conversation-2025-07-16-143408.txt
Due: none

chore(claude): 문서 리팩토링 임시 파일 정리
  results/refactoring.docs/issues/duplicates.md
  results/refactoring.docs/progress.md
Due: none

chore(claude): 문서 리팩토링 백업 및 QA 완료 항목 정리
  .gitignore
  data/tasks.json
  docs/_backup-20250716/yaml-quick-reference.md
  docs/_backup-20250716/yaml-usage-guide.md
  tasks/qa/QA_AUTO_PROCESSING_FINAL_REPORT.md
  tasks/qa/fin/QA_FINAL_SUMMARY__DONE_20250715.md
  tasks/qa/fin/categorize_tests__DONE_20250715.sh
  tasks/qa/fin/cli-refactor-functional__DONE_20250716.qa.md
  tasks/qa/fin/component-test-results__DONE_20250715.md
  tasks/qa/fin/developer-experience-integration__DONE_20250715.md
  tasks/qa/fin/github-organization-management__DONE_20250715.md
  tasks/qa/fin/infrastructure-deployment__DONE_20250715.md
  tasks/qa/fin/network-env-automated__DONE_20250715.sh
  tasks/qa/fin/network-environment-management__DONE_20250716.qa.md
  tasks/qa/fin/performance-automated__DONE_20250715.sh
  tasks/qa/fin/performance-optimization__DONE_20250715.md
  tasks/qa/fin/qa-progress-summary__DONE_20250715.md
  tasks/qa/fin/test-what-works__DONE_20250715.sh
  tasks/qa/fin/user-experience-improvements__DONE_20250716.qa.md
  tasks/qa/manual/ALL_MANUAL_TESTS_SUMMARY.md
Due: none

refactor: bindings/ 디렉토리 및 관련 문서 제거
  assets/doc.md
  bindings/nodejs/.eslintrc.js
  bindings/nodejs/.npmignore
  bindings/nodejs/.prettierrc
  bindings/nodejs/Makefile
  bindings/nodejs/README.md
  bindings/nodejs/binding.gyp
  bindings/nodejs/libgzh.go
  bindings/nodejs/package.json
  bindings/nodejs/src/examples/advanced-usage.ts
  bindings/nodejs/src/examples/basic-usage.ts
  bindings/nodejs/src/index.ts
  bindings/nodejs/src/native/addon.cc
  bindings/nodejs/src/types.ts
  bindings/nodejs/tsconfig.json
  bindings/python/MANIFEST.in
  bindings/python/Makefile
  bindings/python/README.md
  bindings/python/examples/basic_usage.py
  bindings/python/examples/bulk_clone_example.py
  bindings/python/gzhclient/__init__.py
  bindings/python/gzhclient/client.py
  bindings/python/gzhclient/exceptions.py
  bindings/python/gzhclient/types.py
  bindings/python/libgzh.go
  bindings/python/pyproject.toml
  bindings/python/setup.py
  docs/02-architecture/development-container.md
  docs/03-core-features/README.md
  docs/06-development/debugging-guide.md
  docs/08-integrations/bindings/nodejs.md
  docs/08-integrations/bindings/python.md
  docs/INDEX.md
  web/package.json
Due: gci, gosec, go-vuln-check

refactor: completions/ 파일명을 gzh-manager.*로 변경
  cmd/net-env/kubernetes_network_simple.go
  cmd/net-env/performance.go
  cmd/net-env/vpn_failover_cmd.go
  cmd/repo-sync/quality_check_cmd.go
  completions/gzh-manager.bash
  completions/gzh-manager.fish
  completions/gzh-manager.zsh
  pkg/github/dependabot_policy_manager.go
  pkg/github/event_system.go
  pkg/github/streaming_api.go
Due: gci, gosec, go-vuln-check

refactor: remove useless web
  Makefile
  cmd/monitoring/WEBSOCKET_README.md
  cmd/monitoring/auth.go
  cmd/monitoring/auth_integration_test.go
  cmd/monitoring/auth_test.go
  cmd/monitoring/instance_manager.go
  cmd/monitoring/log_streaming_test.go
  cmd/monitoring/logging_api_server.go
  cmd/monitoring/monitoring.go
  cmd/monitoring/websocket.go
  cmd/monitoring/websocket_test.go
  go.mod
  go.sum
  test_monitoring.go
  web/.npmrc
  web/README.md
  web/SECURITY.md
  web/dashboard.html
  web/dashboard/index.html
  web/package-lock.json
  web/package.json
  web/public/index.html
  web/public/manifest.json
  web/src/App.js
  web/src/components/Dashboard.js
  web/src/components/InstanceManager.js
  web/src/components/Layout.js
  web/src/components/LoadingSpinner.js
  web/src/components/Login.js
  web/src/components/NotificationSettings.js
  web/src/contexts/AuthContext.js
  web/src/contexts/WebSocketContext.js
  web/src/index.js
  web/src/services/api.js
Due: gci, gosec, go-mod-tidy, go-vuln-check

fix(doctor): replace undefined debug.ProfileMemoryUsage with runtime.MemStats
  cmd/doctor/doctor.go
Due: gci, gosec, go-vuln-check

feat: doc for enterprise - 지운것들
  docs/backlog/enterprise/README.md
  docs/backlog/enterprise/ci-cd/github-actions-management.md
  docs/backlog/enterprise/ci-cd/gitlab-ci-management.md
  docs/backlog/enterprise/ci-cd/jenkins-integration.md
  docs/backlog/enterprise/infrastructure/ansible-management.md
  docs/backlog/enterprise/infrastructure/cloudformation-management.md
  docs/backlog/enterprise/infrastructure/terraform-management.md
  docs/backlog/enterprise/monitoring/observability-platform.md
  docs/backlog/enterprise/platform/plugin-ecosystem.md
  docs/backlog/enterprise/platform/template-marketplace.md
  docs/backlog/enterprise/web-services/dashboard-platform.md
Due: none

fix: build err
  cmd/repo-config/webhook.go
  internal/config/service_test.go
  internal/filesystem/constructors.go
  internal/git/constructors.go
  internal/httpclient/constructors.go
  internal/httpclient/interfaces.go
  internal/testutil/example_test.go
  internal/testutil/mocking/example_test.go
  internal/testutil/mocking/factories.go
  internal/testutil/mocking/integration_example_test.go
Due: gci, gosec, go-vuln-check

chore: make lint
  check_lint.sh
  cmd/doctor/doctor.go
  cmd/repo-sync/sync_cmd.go
  cmd/repo-sync/watch_cmd.go
  cmd/root.go
  cmd/shell/shell.go
  cmd/task-runner.go
  internal/gitplatform/interface.go
  internal/helpers/git_helper.go
  lint_test.go
  main.go
  pkg/bulk-clone/bulk_clone_config.go
  pkg/github/token_validator.go
  pkg/gzhclient/client.go
  tools/tools.go
Due: gci, gosec, go-vuln-check

feat(claude): 인프라 개선 및 테스트 강화
  .claude/settings.local.json
  .golang-ci.yml
  .golangci.yml
  Makefile
  README.md
  cmd/always-latest/always_latest_apt_test.go
  cmd/always-latest/always_latest_port_test.go
  cmd/always-latest/always_latest_rbenv_test.go
  cmd/always-latest/always_latest_sdkman_test.go
  cmd/always-latest/always_latest_test.go
  cmd/bulk-clone/bulk_clone_github.go
  cmd/doctor/doctor.go
  cmd/gen-config/gen_config_test.go
  cmd/net-env/container_detection_test.go
  cmd/net-env/kubernetes_network_test.go
  cmd/net-env/kubernetes_service_mesh_test.go
  cmd/net-env/network_topology_test.go
  cmd/net-env/performance_test.go
  cmd/net-env/switch_test.go
  commit.sh
  commit_changes.sh
  do_commit.sh
  examples/bulk-clone.home.yaml
  examples/bulk-clone.work.yaml
  internal/errors/recovery.go
  internal/logger/structured.go
  pkg/legacy/errors_test.go
  single_commit.sh
  test/integration/bulk_clone_modern_test.go
  test/integration/net-env/net_env_integration_test.go
  test/integration/run_all_tests.sh
  test/integration/run_modern_tests.sh
Due: gci, gosec, go-vuln-check

fix: lint
  .golangci.yml
  .pre-commit-config.yaml
  CLAUDE.md
  Makefile
  check_current_state.sh
  cmd/bulk-clone/bulk_clone.go
  cmd/doctor/doctor.go
  cmd/net-env/network_topology_test.go
  compile_test.go
  format_and_lint.sh
  internal/errors/recovery.go
  internal/logger/structured.go
  lint-analysis-report.md
  lint-output.txt
  lint_test.go
  main.go
  pkg/github/automation_engine_test.go
  pkg/github/automation_rule_test.go
  pkg/github/changelog.go
  pkg/github/event_system_test.go
  pkg/github/rule_manager_test.go
  pkg/github/token_validator.go
  pkg/github/webhook_config_test.go
  pkg/github/webhook_monitor_test.go
  pkg/github/webhook_test.go
  run_lint.sh
  test/integration/bulk_clone_modern_test.go
  test_compilation.go
  test_lint_exclusions.sh
Due: gci, gosec, go-vuln-check
