Repository Gizzahub/gzh-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: fast-format-check, fast-lint-check, go-mod-tidy, markdown-format

fast-format-check:
  name: Fast Go format check
  entry: bash -c 'make fmt-diff'
  language: system
  pass_filenames: false

fast-lint-check:
  name: Fast Go lint check
  entry: bash -c 'make lint-diff'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go mod tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

markdown-format:
  name: Format markdown files
  entry: mdformat
  language: system
  require_serial: true

fix(cmd): stop dumping usage on runtime errors
  cmd/root.go
  cmd/synclone/config_generate.go
Due: fast-format-check, fast-lint-check

fix(github): stop memory monitor goroutine on Close
  pkg/github/optimized_synclone.go
  pkg/github/optimized_synclone_test.go
Due: fast-format-check, fast-lint-check

fix(workerpool): unhang Stop when results go undrained
  internal/workerpool/pool.go
  internal/workerpool/repository_pool.go
  internal/workerpool/repository_pool_stop_test.go
Due: fast-format-check, fast-lint-check

test(github): fix data race in webhook monitor test
  pkg/github/webhook_monitor.go
  pkg/github/webhook_monitor_test.go
Due: fast-format-check, fast-lint-check

fix(config): stop watch loop from racing StopWatching
  internal/config/service.go
  internal/config/service_test.go
Due: fast-format-check, fast-lint-check

chore(synclone): add legacy provider deprecation warnings
  cmd/synclone/synclone.go
  cmd/synclone/synclone_gitea.go
  cmd/synclone/synclone_github.go
  cmd/synclone/synclone_gitlab.go
  cmd/synclone/synclone_test.go
Due: fast-format-check, fast-lint-check

feat(synclone): forge gzh.yaml and filter parity
  cmd/synclone/synclone_forge.go
  cmd/synclone/synclone_forge_filter.go
  cmd/synclone/synclone_forge_filter_test.go
  cmd/synclone/synclone_gzh_yaml.go
  cmd/synclone/synclone_gzh_yaml_test.go
Due: fast-format-check, fast-lint-check

test(pkg/config): avoid nil panics on bool pointer asserts
  pkg/config/repo_config_templates_test.go
Due: fast-format-check, fast-lint-check

fix(pkg/github): report policy apply as not implemented
  pkg/github/dependabot_policy_manager.go
  pkg/github/dependabot_policy_manager_test.go
  pkg/github/webhook_config_impl.go
  pkg/github/webhook_config_test.go
Due: fast-format-check, fast-lint-check

fix(pkg/github): stop fabricating security impact CVEs
  pkg/github/dependency_version_policy.go
  pkg/github/dependency_version_policy_test.go
Due: fast-format-check, fast-lint-check

fix(deps): remove committed local-dev replace directives
  cmd/quality_wrapper.go
  go.mod
  go.sum
Due: fast-format-check, fast-lint-check, go-mod-tidy

test(pkg/gitlab): add unit tests for pure helpers
  pkg/gitlab/base_url_test.go
Due: fast-format-check, fast-lint-check

chore(lint): set tagliatelle yaml case to snake
  .golangci.yml
Due: none

test(pkg/github): drop fabricated security-improvements expectation
  pkg/github/dependency_version_policy_test.go
Due: fast-format-check, fast-lint-check

fix(pkg/github): inject baseURL for GitHub API hosts
  pkg/github/base_url.go
  pkg/github/base_url_test.go
  pkg/github/constructors.go
  pkg/github/provider_impl.go
  pkg/github/repo_config.go
  pkg/github/repo_config_test.go
  pkg/github/resilient_client.go
  pkg/github/token_aware_client.go
  pkg/github/token_aware_client_test.go
  pkg/github/webhook.go
Due: fast-format-check, fast-lint-check

feat(git): Owner plumbing and GitRunner seam for tests
  cmd/git/repo/repo_clone.go
  cmd/git/repo/repo_clone_test.go
  cmd/git/repo/repo_create.go
  cmd/git/repo/repo_lifecycle_test.go
  cmd/git/repo/repo_sync.go
  cmd/git/repo/repo_sync_test.go
  cmd/git/repo/repo_test.go
  internal/git/clone/executor.go
  internal/git/gitrunner.go
  internal/git/sync/code.go
  internal/git/sync/engine.go
  internal/git/sync/parallel.go
  pkg/git/provider/types.go
Due: fast-format-check, fast-lint-check

fix(pkg/github): use DefaultGitHubAPIBaseURL in remaining API URLs
  pkg/github/github_org_clone.go
  pkg/github/largescale/large_scale_operations.go
  pkg/github/streaming_api.go
Due: fast-format-check, fast-lint-check

chore(lint): remove obsolete tagliatelle nolints after yaml:snake
  pkg/config/repo_config_schema.go
  pkg/config/schema.go
  pkg/config/unified_schema.go
  pkg/gitea/releases.go
  pkg/github/confirmation.go
  pkg/github/dependabot_config.go
  pkg/github/dependabot_policy_manager.go
  pkg/gitlab/gitlab_group_clone.go
  pkg/gitlab/releases.go
  pkg/gitlab/resilient_client.go
  pkg/gitlab/streaming_api.go
  pkg/synclone/synclone_config.go
Due: fast-format-check, fast-lint-check

fix(config): treat organizations as gzh.yaml SSoT, alias orgs
  docs/10-getting-started/migration-guides/bulk-clone-to-gzh.md
  pkg/config/loader_test.go
  pkg/config/unified_loader.go
  pkg/config/unified_schema.go
Due: fast-format-check, fast-lint-check, markdown-format

test(integration): rewrite net-env and pm tests to fail honestly
  test/integration/net-env/net_env_integration_test.go
  test/integration/pm/pm_external_test.go
  test/integration/pm/pm_integration_test.go
Due: fast-format-check, fast-lint-check

test(e2e): rewrite scenarios for current gz CLI surface
  test/e2e/scenarios/config_e2e_test.go
  test/e2e/scenarios/ide_e2e_test.go
  test/e2e/scenarios/synclone_e2e_test.go
Due: fast-format-check, fast-lint-check

feat(git): implement provider create/delete/archive/search phase 1
  pkg/gitea/provider_impl.go
  pkg/gitea/provider_mutation_test.go
  pkg/github/actions_policy_simple_test.go
  pkg/github/automation_engine_test.go
  pkg/github/constructors.go
  pkg/github/interfaces.go
  pkg/github/mocks/github_mocks.go
  pkg/github/provider_factory.go
  pkg/github/provider_impl.go
  pkg/github/provider_mutation_test.go
  pkg/github/resilient_client.go
  pkg/gitlab/provider_impl.go
  pkg/gitlab/provider_mutation_test.go
Due: fast-format-check, fast-lint-check

fix(config): only required enforcement fails compliance
  docs/30-features/31-repository-management.md
  pkg/config/repo_config_audit.go
  pkg/config/repo_config_audit_test.go
Due: fast-format-check, fast-lint-check, markdown-format

refactor(config): remove unreachable provider cloner layer
  pkg/config/constructors.go
  pkg/config/facade.go
  pkg/config/factory.go
  pkg/config/factory_test.go
  pkg/config/integration_test.go
  pkg/config/interfaces.go
  pkg/config/provider_interfaces.go
  pkg/config/providers.go
  pkg/config/providers_test.go
  pkg/config/unified_factory.go
  pkg/config/unified_factory_test.go
Due: fast-format-check, fast-lint-check

refactor(net-env): drop unreachable legacy subtree
  cmd/net-env/actions/actions.go
  cmd/net-env/actions/actions_test.go
  cmd/net-env/actions/optimized_managers.go
  cmd/net-env/cloud/cloud.go
  cmd/net-env/doc.go
  cmd/net-env/net_env.go
  cmd/net-env/profile/cmd_profile.go
  cmd/net-env/profile/profile_unified.go
  cmd/net-env/profile/quick_unified.go
  cmd/net-env/status/cmd_status.go
  cmd/net-env/status/status.go
  cmd/net-env/status/status_test.go
  cmd/net-env/status/status_unified.go
  cmd/net-env/tui/tui.go
  internal/netenv/flags.go
  internal/netenv/logger.go
  internal/netenv/network_detector.go
  internal/netenv/profile_manager.go
  internal/netenv/reports/bandwidth_calculator.go
  internal/netenv/reports/comprehensive.go
  internal/netenv/reports/html_generator.go
  internal/netenv/reports/interface_speed.go
  internal/netenv/reports/latency.go
  internal/netenv/reports/system_info.go
  internal/netenv/reports/text_generator.go
  internal/netenv/tui/dashboard.go
  internal/netenv/tui/keymap.go
  internal/netenv/tui/messages.go
  internal/netenv/tui/model.go
  internal/netenv/tui/styles.go
  internal/netenv/types.go
  internal/netenv/utils.go
Due: fast-format-check, fast-lint-check

feat(git): wire gz git repo search to providers
  cmd/git/repo/repo_extra_cmds.go
  cmd/git/repo/repo_lifecycle_test.go
Due: fast-format-check, fast-lint-check

fix(git): fail-fast when event storage missing
  cmd/git/event/event.go
Due: fast-format-check, fast-lint-check

fix(ide): honor context and timeouts in IDE detection
  cmd/ide/core_detector.go
  cmd/ide/core_detector_test.go
  cmd/ide/open/open.go
  cmd/ide/open/open_test.go
  cmd/ide/scan/scan.go
  cmd/ide/status/status.go
  internal/idecore/types.go
Due: fast-format-check, fast-lint-check

fix(apprunner): map interrupt cancel to exit 130
  cmd/dev-env/status.go
  cmd/doctor/health.go
  cmd/gz/main.go
  cmd/ide/monitor/monitor.go
  cmd/ide/monitor/monitor_test.go
  cmd/profile/enhanced_profiling.go
  cmd/profile/enhanced_profiling_test.go
  internal/apprunner/runner.go
  internal/apprunner/runner_test.go
Due: fast-format-check, fast-lint-check

refactor(httpclient): remove dead RateLimiter goroutines
  internal/git/sync/parallel.go
  internal/httpclient/constructors.go
Due: fast-format-check, fast-lint-check

chore(lint): align goheader COMPANY and YEAR
  .golangci.yml
Due: none

test(integration): rewrite docker synclone tests without stub containers
  test/integration/docker/synclone_integration_test.go
  test/integration/testcontainers/doc.go
  test/integration/testcontainers/gitea.go
  test/integration/testcontainers/gitea_test.go
  test/integration/testcontainers/gitlab.go
  test/integration/testcontainers/redis.go
Due: fast-format-check, fast-lint-check

test(integration): use valid bulk-clone YAML in docker package tests
  test/integration/docker/synclone_integration_test.go
Due: fast-format-check, fast-lint-check

test(integration): fix gitlab bulk YAML org_name for LoadConfig
  test/integration/docker/synclone_integration_test.go
Due: fast-format-check, fast-lint-check

feat(git): in-memory event storage for list/get/metrics
  cmd/git/event/event.go
  cmd/git/event/event_test.go
  pkg/github/memory_event_storage.go
  pkg/github/memory_event_storage_test.go
Due: fast-format-check, fast-lint-check

feat(git): implement Update/Fork and GitHub webhook provider methods
  pkg/gitea/provider_impl.go
  pkg/gitea/provider_mutation_test.go
  pkg/github/actions_policy_simple_test.go
  pkg/github/automation_engine_test.go
  pkg/github/constructors.go
  pkg/github/interfaces.go
  pkg/github/mocks/github_mocks.go
  pkg/github/provider_factory.go
  pkg/github/provider_impl.go
  pkg/github/provider_mutation_test.go
  pkg/github/resilient_client.go
  pkg/gitlab/provider_impl.go
  pkg/gitlab/provider_mutation_test.go
Due: fast-format-check, fast-lint-check

feat(git): implement GitLab and Gitea project webhooks
  pkg/gitea/provider_impl.go
  pkg/gitea/provider_mutation_test.go
  pkg/gitlab/provider_impl.go
  pkg/gitlab/provider_mutation_test.go
Due: fast-format-check, fast-lint-check

chore(git): drop local webhook event receiver
  cmd/git/AGENTS.md
  cmd/git/event/adapter.go
  cmd/git/event/event.go
  cmd/git/event/event_test.go
  cmd/git/git.go
  cmd/git/git_test.go
  docs/30-features/32-output-formats-backup.md
  docs/80-integrations/83-webhook-management.md
  docs/integration/git-migration-final-status.md
  pkg/gitea/provider_impl.go
  pkg/github/event_system.go
  pkg/github/event_system_test.go
  pkg/github/memory_event_storage.go
  pkg/github/memory_event_storage_test.go
  pkg/github/provider_impl.go
  pkg/gitlab/provider_impl.go
  specs/README.md
  specs/cli/git/event/UC-001-process.md
  specs/core/git.md
  specs/git.md
Due: fast-format-check, fast-lint-check, markdown-format

chore(git): drop unused event automation leftovers
  README.md
  cmd/git/git.go
  cmd/git/git_test.go
  cmd/git/webhook_simple_test.go
  cmd/repo-config/webhook/webhook.go
  internal/git/provider/mock/provider.go
  pkg/git/provider/common_helpers.go
  pkg/git/provider/doc.go
  pkg/git/provider/interface.go
  pkg/git/provider/types.go
  pkg/gitea/provider_impl.go
  pkg/github/automation_engine.go
  pkg/github/automation_engine_test.go
  pkg/github/automation_rule.go
  pkg/github/automation_rule_test.go
  pkg/github/condition_evaluator.go
  pkg/github/condition_evaluator_test.go
  pkg/github/doc.go
  pkg/github/event_system.go
  pkg/github/event_system_test.go
  pkg/github/provider_impl.go
  pkg/github/rule_manager.go
  pkg/github/rule_manager_test.go
  pkg/github/security_update_policy.go
  pkg/github/test_mocks_test.go
  pkg/gitlab/provider_impl.go
Due: fast-format-check, fast-lint-check, markdown-format

chore(deps): pin gitforge to origin-HEAD heuristic
  go.mod
  go.sum
Due: go-mod-tidy

Path conditions:
  fast-format-check: any of: \.go$
  fast-lint-check: any of: \.go$
  go-mod-tidy: any of: ^go\.(mod|sum)$
  markdown-format: any of: \.(md|markdown|mdown)$
