Repository Gizzahub/gzh-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: fast-format-check, fast-lint-check, go-mod-tidy, markdown-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
      - id: check-json
      - id: pretty-format-json
        args: ['--autofix']
      - id: check-toml
      - id: check-xml
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  - repo: local
    hooks:
      - id: fast-format-check
        name: Fast Go format check
        entry: bash -c 'make fmt-diff'
        language: system
        types: [go]
        pass_filenames: false

      - id: fast-lint-check
        name: Fast Go lint check
        entry: bash -c 'make lint-diff'
        language: system
        types: [go]
        pass_filenames: false

      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        pass_filenames: false
        files: ^go\.(mod|sum)$

      - id: markdown-format
        name: Format markdown files
        entry: mdformat
        language: system
        types: [markdown]
        require_serial: true

chore(deps): bump actions/upload-artifact action to v6
  .github/workflows/main.yml
  .github/workflows/performance.yml
Due: none

chore(deps): bump github.com/aws/aws-sdk-go-v2 to 1.41.0
  go.mod
  go.sum
Due: go-mod-tidy

chore(deps): bump remaining Go dependencies to latest versions
  go.mod
  go.sum
Due: go-mod-tidy

refactor(dev-env): migrate to gzh-cli-dev-env library
  cmd/dev-env/service_switchers.go
  cmd/dev-env/status.go
  cmd/dev-env/switch_all.go
  cmd/dev-env/tui.go
  go.mod
  go.sum
  internal/devenv/dependency.go
  internal/devenv/dependency_test.go
  internal/devenv/environment.go
  internal/devenv/environment_test.go
  internal/devenv/status/aws_checker.go
  internal/devenv/status/azure_checker.go
  internal/devenv/status/collector.go
  internal/devenv/status/collector_test.go
  internal/devenv/status/docker_checker.go
  internal/devenv/status/formatter.go
  internal/devenv/status/formatter_test.go
  internal/devenv/status/gcp_checker.go
  internal/devenv/status/k8s_checker.go
  internal/devenv/status/ssh_checker.go
  internal/devenv/status/types.go
  internal/devenv/switcher.go
  internal/devenv/tui/dashboard.go
  internal/devenv/tui/keymap.go
  internal/devenv/tui/messages.go
  internal/devenv/tui/model.go
  internal/devenv/tui/styles.go
Due: fast-format-check, fast-lint-check, go-mod-tidy

feat: add dev env wrapper scaffolding
  CLAUDE.md
  cmd/dev_env_wrapper.go
  cmd/dev_env_wrapper_stub.go
  tasks/18-package-manager-winget-support.md
  tasks/19-package-manager-scoop-support.md
  tasks/20-package-manager-chocolatey-support.md
  tasks/21-package-manager-cleanup-strategies.md
  tasks/blocked/17-package-manager-windows-support__BLOCKED_20250729.md
Due: fast-format-check, fast-lint-check, markdown-format

feat(synclone): add forge subcommand for unified sync
  cmd/synclone/synclone.go
  cmd/synclone/synclone_forge.go
  cmd/synclone/synclone_forge_test.go
  go.mod
  go.sum
Due: fast-format-check, fast-lint-check, go-mod-tidy

feat(net-env): add wrapper for gzh-cli-net-env library
  cmd/net_env_wrapper.go
  cmd/net_env_wrapper_stub.go
  go.mod
Due: fast-format-check, fast-lint-check, go-mod-tidy

feat(net-env): integrate gzh-cli-net-env library wrapper
  cmd/net-env/net_env.go
  cmd/net-env/net_env_library_wrapper.go
Due: fast-format-check, fast-lint-check

docs(pm): add winget to pm command help text
  cmd/pm_wrapper.go
Due: fast-format-check, fast-lint-check

docs: update CLAUDE.md and task documentation
  CLAUDE.md
  docs/.claude-context/README.md
  docs/.claude-context/architecture-guide.md
  docs/.claude-context/build-guide.md
  docs/.claude-context/common-tasks.md
  docs/.claude-context/testing-guide.md
  tasks/18-package-manager-winget-support.md
  tasks/19-package-manager-scoop-support.md
  tasks/20-package-manager-chocolatey-support.md
  tasks/21-package-manager-cleanup-strategies.md
  tasks/blocked/17-package-manager-windows-support__BLOCKED_20250729.md
Due: markdown-format

chore(build): add .serena to gitignore
  .gitignore
Due: none

docs: update gzh-cli documentation for library consolidation
  CLAUDE.md
  README.md
  docs/.claude-context/architecture-guide.md
  docs/20-architecture/23-plugin-architecture.md
  docs/20-architecture/24-improvement-strategies.md
  docs/30-features/31-repository-management.md
  docs/30-features/32-git-repo-commands.md
  docs/30-features/36-quality-management.md
  docs/70-deployment/70-releases.md
  docs/CONTRIBUTING.md
  docs/DOCUMENTATION_COMPLETION_REPORT.md
  docs/DOCUMENTATION_RESTRUCTURING_PLAN.md
  docs/integration/00-SUBPROJECTS_GUIDE.md
  docs/integration/ARCHITECTURE.md
  docs/integration/INTEGRATION_TESTS.md
  docs/integration/README.md
  docs/integration/git-migration-final-status.md
  docs/integration/integration-summary.md
  docs/troubleshooting/GO_VERSION_MISMATCH.md
Due: markdown-format

chore: go sum
  go.sum
Due: go-mod-tidy

chore(deps): bump validator v10.30.1 and progressbar v3.19.0
  go.mod
Due: go-mod-tidy

refactor(imports): reorganize imports according to gci style standards
  cmd/dev-env/gcp_project.go
  cmd/pm_wrapper.go
  cmd/pm_wrapper_test.go
  cmd/quality_wrapper.go
  cmd/quality_wrapper_test.go
  cmd/shellforge_wrapper.go
  cmd/shellforge_wrapper_test.go
  cmd/synclone/synclone_forge.go
  internal/git/mocks/git_mocks.go
  internal/httpclient/mocks/httpclient_mocks.go
  internal/netenv/tui/styles.go
  pkg/config/unified_facade.go
  pkg/github/mocks/github_mocks.go
Due: fast-format-check, fast-lint-check

task: reordering
  tasks/todo/18-package-manager-winget-support.md
  tasks/todo/19-package-manager-scoop-support.md
  tasks/todo/20-package-manager-chocolatey-support.md
  tasks/todo/21-package-manager-cleanup-strategies.md
Due: markdown-format

chore(tasks): complete 18-package-manager-winget-support
  tasks/done/18-package-manager-winget-support.md
  tasks/issue/22-winget-per-manager-commands-and-sources.md
Due: markdown-format

chore(tasks): complete 19-package-manager-scoop-support
  tasks/done/19-package-manager-scoop-support.md
  tasks/issue/23-scoop-per-manager-cli-buckets-manifest.md
  tasks/todo/19-package-manager-scoop-support.md
Due: markdown-format

chore(tasks): complete 20-package-manager-chocolatey-support
  tasks/done/20-package-manager-chocolatey-support.md
  tasks/issue/24-chocolatey-per-manager-cli-uac-progress.md
  tasks/todo/20-package-manager-chocolatey-support.md
Due: markdown-format

chore(tasks): complete 21-package-manager-cleanup-strategies
  tasks/done/21-package-manager-cleanup-strategies.md
  tasks/issue/25-advanced-cleanup-strategies-implementation.md
  tasks/todo/21-package-manager-cleanup-strategies.md
Due: markdown-format

chore: winget fail. do next
  tasks/issue/22-winget-per-manager-commands-and-sources.md
Due: markdown-format

chore(ci): add dependabot auto-merge workflow with PR grouping
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
Due: none

fix(ci): remove local dev replace directives from go.mod
  go.mod
Due: go-mod-tidy

feat(dev): add go.work for local development
  .gitignore
  go.work
Due: none

chore: upgrade Go version to 1.25.7
  go.mod
  go.work
Due: go-mod-tidy

chore(plugin): add AGENTS.md and GEMINI.md symlinks
  AGENTS.md
  GEMINI.md
Due: markdown-format

build: initialize go.work.sum for Go workspace module checksums.
  go.work.sum
Due: none

fix(deps): correct pseudo-versions for private modules + local-dev replace
  go.mod
Due: go-mod-tidy

feat(build): implement auto-version-bump system with version.go
  .gitignore
  .make/build.mk
  Makefile
  cmd/gz/main.go
  go.mod
  go.sum
  internal/version/version.go
Due: fast-format-check, fast-lint-check, go-mod-tidy

fix(synclone): adapt to gitforge API and bump workspace to go 1.26
  cmd/synclone/synclone_forge.go
  go.work
  go.work.sum
Due: fast-format-check, fast-lint-check

fix(synclone): pass baseURL to github provider
  cmd/synclone/synclone_forge.go
Due: fast-format-check, fast-lint-check

test(synclone): cover github custom base URL case
  cmd/synclone/synclone_forge_test.go
Due: fast-format-check, fast-lint-check

fix(build): remove stale GOEXPERIMENT=rangefunc for Go 1.26
  .make/build.mk
Due: none

chore(fmt): apply gofumpt across the codebase
  cmd/dev-env/aws_profile.go
  cmd/doctor/benchmark.go
  cmd/doctor/container.go
  cmd/doctor/dev_env.go
  cmd/doctor/godoc.go
  cmd/doctor/health.go
  cmd/doctor/metrics.go
  cmd/doctor/setup.go
  cmd/net-env/cloud/cloud.go
  cmd/profile/enhanced_profiling_test.go
  cmd/repo-config/cmd_list.go
  cmd/repo-config/cmd_risk.go
  cmd/repo-config/cmd_template.go
  cmd/repo-config/diff/diff.go
  cmd/repo-config/list/list.go
  cmd/repo-config/risk/risk.go
  cmd/repo-config/template/template.go
  cmd/repo-config/validate/validate.go
  cmd/synclone/synclone_state.go
  internal/analysis/godoc/analyzer.go
  internal/config/factory.go
  internal/config/validators.go
  internal/errors/recovery.go
  internal/logger/structured.go
  internal/netenv/tui/dashboard.go
  internal/profiling/benchmarks.go
  internal/version/version.go
  pkg/config/repo_config_audit.go
  pkg/config/repo_config_schema.go
  pkg/config/unified_facade.go
  pkg/config/unified_loader.go
  pkg/github/actions_policy_enforcer.go
  pkg/github/bulk_operations.go
  pkg/github/github_org_clone.go
  pkg/github/optimized_synclone.go
  pkg/github/rate_limiter.go
  pkg/gitlab/bulk_operations.go
  pkg/gitlab/visibility.go
  pkg/synclone/config_loader.go
Due: fast-format-check, fast-lint-check

chore(lint): auto-fix godot comments and refresh copyright year
  cmd/synclone/config.go
  cmd/synclone/config_convert.go
  cmd/synclone/config_generate.go
  cmd/synclone/config_generate_discover.go
  cmd/synclone/config_generate_template.go
  cmd/synclone/config_validate.go
  cmd/synclone/doc.go
  cmd/synclone/register.go
  cmd/synclone/synclone.go
  cmd/synclone/synclone_forge.go
  cmd/synclone/synclone_state.go
  cmd/synclone/synclone_validate.go
Due: fast-format-check, fast-lint-check

refactor(synclone): preallocate slices in discovery config generation
  cmd/synclone/config_generate_discover.go
Due: fast-format-check, fast-lint-check

chore(ci): bump go-version to 1.26.4 for stdlib CVE fix
  .github/workflows/main.yml
  .github/workflows/performance.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
Due: none
