Repository Gizzahub/gzh-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: fast-format-check, fast-lint-check, go-mod-tidy, markdown-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
      - id: check-json
      - id: pretty-format-json
        args: ['--autofix']
      - id: check-toml
      - id: check-xml
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  - repo: local
    hooks:
      - id: fast-format-check
        name: Fast Go format check
        entry: bash -c 'make fmt-diff'
        language: system
        types: [go]
        pass_filenames: false

      - id: fast-lint-check
        name: Fast Go lint check
        entry: bash -c 'make lint-diff'
        language: system
        types: [go]
        pass_filenames: false

      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        pass_filenames: false
        files: ^go\.(mod|sum)$

      - id: markdown-format
        name: Format markdown files
        entry: mdformat
        language: system
        types: [markdown]
        require_serial: true

fix(security): close SSH host key review gaps
  cmd/dev-env/ssh_key_installer.go
  cmd/dev-env/ssh_key_installer_test.go
  cmd/dev-env/ssh_simple_installer.go
  cmd/dev-env/ssh_simple_installer_test.go
Due: fast-format-check, fast-lint-check

test(security): contain known hosts fixture reads
  cmd/dev-env/ssh_host_key_test.go
Due: fast-format-check, fast-lint-check

test(security): isolate OpenSSH config portably
  cmd/dev-env/ssh_simple_installer_test.go
Due: fast-format-check, fast-lint-check

test(security): keep SSH fixtures out of gosec
  cmd/dev-env/ssh_simple_installer_test.go
Due: fast-format-check, fast-lint-check

chore: version code
  internal/version/version.go
Due: fast-format-check, fast-lint-check

fix(workerpool): close cancel ownership gap
  internal/workerpool/pool.go
  internal/workerpool/pool_test.go
Due: fast-format-check, fast-lint-check

fix(webhook): redact secrets from machine output
  cmd/repo-config/webhook/webhook.go
  cmd/repo-config/webhook/webhook_output_test.go
Due: fast-format-check, fast-lint-check

test(dev-env): prove SSH metadata is path-only
  cmd/dev-env/ssh_enhanced.go
  cmd/dev-env/ssh_enhanced_test.go
Due: fast-format-check, fast-lint-check

fix(selfupdate): secure update staging
  cmd/selfupdate/AGENTS.md
  cmd/selfupdate/replace_unix.go
  cmd/selfupdate/replace_windows.go
  cmd/selfupdate/selfupdate.go
  cmd/selfupdate/selfupdate_test.go
Due: fast-format-check, fast-lint-check, markdown-format

fix(selfupdate): distinguish committed cleanup
  cmd/selfupdate/AGENTS.md
  cmd/selfupdate/replace_unix.go
  cmd/selfupdate/replace_windows.go
  cmd/selfupdate/replace_windows_test.go
  cmd/selfupdate/selfupdate.go
  cmd/selfupdate/selfupdate_test.go
Due: fast-format-check, fast-lint-check, markdown-format

test(profiling): isolate profile output directories
  internal/profiling/benchmarks_test.go
  internal/profiling/middleware_test.go
  internal/profiling/profiler_test.go
Due: fast-format-check, fast-lint-check

fix(profiling): avoid owning runtime profile rates
  internal/profiling/profiler.go
  internal/profiling/profiler_test.go
Due: fast-format-check, fast-lint-check

test(profiling): observe mutex rate without mutation
  internal/profiling/profiler_test.go
Due: fast-format-check, fast-lint-check

fix(simpleprof): avoid owning runtime profile rates
  internal/simpleprof/profiler.go
  internal/simpleprof/profiler_test.go
Due: fast-format-check, fast-lint-check

fix(dev-env): harden SSH configuration restore
  cmd/dev-env/ssh_enhanced.go
  cmd/dev-env/ssh_enhanced_test.go
Due: fast-format-check, fast-lint-check

test(dev-env): tighten SSH restore contract
  cmd/dev-env/ssh_enhanced.go
  cmd/dev-env/ssh_enhanced_test.go
Due: fast-format-check, fast-lint-check

fix(profiling): defer output setup to start
  cmd/doctor/benchmark.go
  internal/profiling/profiler.go
  internal/profiling/profiler_test.go
Due: fast-format-check, fast-lint-check

fix(simpleprof): reserve unique profile sessions
  internal/simpleprof/profiler.go
  internal/simpleprof/profiler_test.go
Due: fast-format-check, fast-lint-check

test(simpleprof): harden profile reservations
  internal/simpleprof/profiler.go
  internal/simpleprof/profiler_test.go
Due: fast-format-check, fast-lint-check

test(simpleprof): run reservation helpers directly
  internal/simpleprof/profiler.go
  internal/simpleprof/profiler_test.go
Due: fast-format-check, fast-lint-check

chore(simpleprof): document profile log validation
  internal/simpleprof/profiler.go
Due: fast-format-check, fast-lint-check

fix(build): preserve installed binaries on clean
  .make/build.mk
Due: none

fix(dev-env): publish SSH saves as snapshots
  cmd/dev-env/ssh_enhanced.go
  cmd/dev-env/ssh_enhanced_test.go
  cmd/dev-env/ssh_parser.go
  cmd/dev-env/ssh_parser_test.go
  docs/30-features/33-ssh-management.md
Due: fast-format-check, fast-lint-check, markdown-format

fix(dev-env): harden SSH snapshot publication
  cmd/dev-env/ssh.go
  cmd/dev-env/ssh_enhanced.go
  cmd/dev-env/ssh_enhanced_test.go
  cmd/dev-env/ssh_parser.go
  cmd/dev-env/ssh_parser_test.go
  docs/30-features/33-ssh-management.md
Due: fast-format-check, fast-lint-check, markdown-format

fix(dev-env): preflight SSH snapshot restore
  cmd/dev-env/ssh_enhanced.go
  cmd/dev-env/ssh_parser.go
Due: fast-format-check, fast-lint-check

fix(dev-env): preserve SSH key metadata roles on load
  cmd/dev-env/ssh_enhanced.go
Due: fast-format-check, fast-lint-check

test(dev-env): expose private SSH save fault hooks
  cmd/dev-env/ssh_enhanced.go
Due: fast-format-check, fast-lint-check

test(dev-env): cover SSH save failure contract
  cmd/dev-env/ssh_enhanced.go
  cmd/dev-env/ssh_enhanced_test.go
  cmd/dev-env/ssh_parser.go
  cmd/dev-env/ssh_parser_test.go
Due: fast-format-check, fast-lint-check

fix(dev-env): harden SSH snapshot recovery checks
  cmd/dev-env/ssh_enhanced.go
  cmd/dev-env/ssh_enhanced_test.go
  cmd/dev-env/ssh_parser.go
  cmd/dev-env/ssh_parser_test.go
  docs/30-features/33-ssh-management.md
Due: fast-format-check, fast-lint-check, markdown-format

test(dev-env): complete SSH save fault cards
  cmd/dev-env/ssh_enhanced.go
  cmd/dev-env/ssh_parser_test.go
  cmd/dev-env/ssh_save_fault_card_test.go
Due: fast-format-check, fast-lint-check

fix(dev-env): reserve SSH restore container paths
  cmd/dev-env/ssh_enhanced.go
  cmd/dev-env/ssh_enhanced_test.go
  cmd/dev-env/ssh_save_fault_card_test.go
Due: fast-format-check, fast-lint-check

test(dev-env): close SSH snapshot approval gaps
  cmd/dev-env/ssh_enhanced.go
  cmd/dev-env/ssh_enhanced_test.go
  cmd/dev-env/ssh_save_fault_card_test.go
Due: fast-format-check, fast-lint-check

test(dev-env): cover SSH key role deduplication
  cmd/dev-env/ssh_enhanced_test.go
Due: fast-format-check, fast-lint-check

docs(security): inventory gosec suppression surfaces
  docs/70-deployment/73-security-scanning.md
  docs/90-maintenance/94-gosec-suppression-inventory.md
Due: markdown-format

docs(security): clarify gosec policy commands
  docs/70-deployment/73-security-scanning.md
  docs/90-maintenance/94-gosec-suppression-inventory.md
Due: markdown-format

docs(security): correct gosec exclusion inventory
  docs/90-maintenance/94-gosec-suppression-inventory.md
Due: markdown-format

feat(security): add finding comparator
  internal/securityfinding/comparator.go
  internal/securityfinding/comparator_test.go
  internal/securityfinding/testdata/comparison_cases.json
Due: fast-format-check, fast-lint-check

fix(security): harden finding comparator
  internal/securityfinding/comparator.go
  internal/securityfinding/comparator_test.go
  internal/securityfinding/testdata/comparison_cases.json
  security/internal/securityfinding/comparator.go
  security/internal/securityfinding/comparator_test.go
  security/internal/securityfinding/fixture_test.go
  security/internal/securityfinding/testdata/comparison_cases.json
Due: fast-format-check, fast-lint-check

fix(security): fail closed on finding collisions
  security/internal/securityfinding/comparator.go
  security/internal/securityfinding/comparator_test.go
  security/internal/securityfinding/testdata/comparison_cases.json
Due: fast-format-check, fast-lint-check

feat(security): ingest gosec SARIF findings
  security/internal/securityfinding/sarif.go
  security/internal/securityfinding/sarif_test.go
  security/internal/securityfinding/testdata/comparison_cases.json
  security/internal/securityfinding/testdata/gosec_sarif_b1a_excerpt.json
  security/internal/securityfinding/testdata/gosec_sarif_fcdbaf25_excerpt.json
Due: fast-format-check, fast-lint-check
