Repository Gizzahub/gzh-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: fast-format-check, fast-lint-check, go-mod-tidy, markdown-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
      - id: check-json
      - id: pretty-format-json
        args: ['--autofix']
      - id: check-toml
      - id: check-xml
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  - repo: local
    hooks:
      - id: fast-format-check
        name: Fast Go format check
        entry: bash -c 'make fmt-diff'
        language: system
        types: [go]
        pass_filenames: false

      - id: fast-lint-check
        name: Fast Go lint check
        entry: bash -c 'make lint-diff'
        language: system
        types: [go]
        pass_filenames: false

      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        pass_filenames: false
        files: ^go\.(mod|sum)$

      - id: markdown-format
        name: Format markdown files
        entry: mdformat
        language: system
        types: [markdown]
        require_serial: true

feat(git): migrate clone-or-update to gzh-cli-git library
  cmd/git/repo/repo_clone_or_update.go
  cmd/git/repo/repo_clone_or_update_wrapper.go
  go.mod
Due: fast-format-check, fast-lint-check, go-mod-tidy

refactor(git): migrate bulk-update to gzh-cli-git library
  cmd/git/repo/repo_bulk_update.go
  cmd/git/repo/repo_bulk_update_wrapper.go
Due: fast-format-check, fast-lint-check

docs(troubleshooting): add Go version mismatch troubleshooting guide
  docs/troubleshooting/GO_VERSION_MISMATCH.md
Due: markdown-format

docs(integration): add permanent documentation and API usage comments
  cmd/git/repo/repo_bulk_update_wrapper.go
  docs/integration/INTEGRATION_TESTS.md
  docs/integration/README.md
  docs/integration/git-migration-final-status.md
  docs/integration/integration-summary.md
Due: fast-format-check, fast-lint-check, markdown-format

fix(deps): resolve go.sum checksum mismatch after rebase
  go.mod
  go.sum
Due: go-mod-tidy

docs(readme): update architecture section with Integration Libraries Pattern
  README.md
Due: markdown-format

docs(architecture): add comprehensive architecture diagram and documentation
  docs/integration/ARCHITECTURE.md
Due: markdown-format

test(wrappers): add unit tests for integration library wrappers
  cmd/git/repo/repo_bulk_update_test.go.disabled
  cmd/git/repo/repo_bulk_update_wrapper_test.go
  cmd/git/repo/repo_clone_or_update_test.go.disabled
  cmd/git/repo/repo_clone_or_update_wrapper_test.go
  cmd/pm_wrapper_test.go
  cmd/quality_wrapper_test.go
Due: fast-format-check, fast-lint-check

chore(tests): remove disabled integration tests
  cmd/git/repo/repo_bulk_update_test.go
  cmd/git/repo/repo_clone_or_update_test.go
Due: fast-format-check, fast-lint-check

feat(integration): integrate gzh-cli-shellforge as library
  cmd/root.go
  cmd/shellforge_wrapper.go
  go.mod
  go.sum
Due: fast-format-check, fast-lint-check, go-mod-tidy

fix(shellforge): fix typo, add tests, and update documentation
  cmd/shellforge_wrapper.go
  cmd/shellforge_wrapper_test.go
  docs/integration/README.md
Due: fast-format-check, fast-lint-check, markdown-format

docs(readme): add shellforge integration documentation
  README.md
Due: markdown-format

chore: ignore bin/
  .gitignore
Due: none

docs(readme): restructure README and add subprojects integration guide
  README.md
  docs/DOCUMENTATION_RESTRUCTURING_PLAN.md
  docs/integration/00-SUBPROJECTS_GUIDE.md
Due: markdown-format

docs(claude): optimize CLAUDE.md for LLM context
  CLAUDE.md
Due: markdown-format

docs(features): add subproject integration links to feature docs
  docs/30-features/31-repository-management.md
  docs/30-features/36-quality-management.md
Due: markdown-format

docs(report): add documentation restructuring completion report
  docs/DOCUMENTATION_COMPLETION_REPORT.md
Due: markdown-format

docs(completion): complete option C improvements
  .gitignore
  docs/20-architecture/23-plugin-architecture.md
  docs/30-features/package-manager-specification.md
Due: markdown-format

feat(registry): add enhanced registry system with metadata support
  cmd/dev-env/register.go
  cmd/doctor/register.go
  cmd/git/register.go
  cmd/ide/register.go
  cmd/net-env/register.go
  cmd/pm_wrapper.go
  cmd/profile/register.go
  cmd/quality_wrapper.go
  cmd/registry/registry.go
  cmd/registry/registry_test.go
  cmd/repo-config/register.go
  cmd/selfupdate/register.go
  cmd/shellforge_wrapper.go
  cmd/synclone/register.go
  go.sum
Due: fast-format-check, fast-lint-check, go-mod-tidy

feat(extensions): add configuration-based aliases and external commands
  cmd/root.go
  examples/extensions.yaml
  internal/extensions/loader.go
  internal/extensions/loader_test.go
  internal/extensions/types.go
Due: fast-format-check, fast-lint-check

docs(architecture): add improvement strategies without plugin system
  docs/20-architecture/24-improvement-strategies.md
Due: markdown-format

feat(wrapper): implement standardized wrapper pattern for external libraries
  cmd/pm_wrapper.go
  cmd/pm_wrapper_stub.go
  cmd/pm_wrapper_test.go
  internal/wrapper/doc_generator.go
  internal/wrapper/doc_generator_test.go
  internal/wrapper/interface.go
  internal/wrapper/interface_test.go
Due: fast-format-check, fast-lint-check

feat(registry): implement command lifecycle management system
  cmd/registry/lifecycle.go
  cmd/registry/lifecycle_test.go
  cmd/registry/registry.go
  cmd/registry/registry_test.go
  cmd/root.go
Due: fast-format-check, fast-lint-check

feat(extensions): implement multi-step workflows and parameterized aliases
  examples/extensions.yaml
  internal/extensions/loader.go
  internal/extensions/loader_advanced_test.go
  internal/extensions/types.go
Due: fast-format-check, fast-lint-check

docs(features): add comprehensive documentation for Phase 3 features
  README.md
  docs/30-features/38-extensions-system.md
  docs/30-features/39-lifecycle-management.md
Due: markdown-format

docs(claude): add Phase 3 features to LLM guidance
  CLAUDE.md
Due: markdown-format

docs: improve LLM-friendly formatting and standardize documentation structure
  cmd/git/repo/repo_bulk_update_wrapper.go
  cmd/git/repo/repo_clone_or_update_wrapper.go
  docs/30-features/31-repository-management.md
  docs/30-features/36-quality-management.md
  docs/DOCUMENTATION_COMPLETION_REPORT.md
  docs/DOCUMENTATION_RESTRUCTURING_PLAN.md
  docs/integration/00-SUBPROJECTS_GUIDE.md
  docs/integration/ARCHITECTURE.md
  docs/integration/INTEGRATION_TESTS.md
  docs/integration/README.md
  docs/integration/git-migration-final-status.md
  docs/integration/integration-summary.md
  docs/troubleshooting/GO_VERSION_MISMATCH.md
  go.mod
Due: fast-format-check, fast-lint-check, go-mod-tidy, markdown-format

docs(format): markdown 가독성 개선 및 LLM-friendly 포맷 적용
  CLAUDE.md
  README.md
  docs/30-features/38-extensions-system.md
  docs/30-features/39-lifecycle-management.md
Due: markdown-format

chore(deps): batch update dependencies
  go.mod
  go.sum
Due: go-mod-tidy

fix(registry): implement isCommandAvailable PATH lookup using exec.LookPath
  cmd/registry/lifecycle.go
  cmd/registry/lifecycle_test.go
Due: fast-format-check, fast-lint-check

test(git): re-enable integration tests with provider API implementations
  cmd/git/repo/repo_integration_test.go
Due: fast-format-check, fast-lint-check

feat(github): implement actual GitHub Webhook API calls
  pkg/github/webhook.go
Due: fast-format-check, fast-lint-check

feat(sync): implement Issue Sync core functionality with GitHub API
  internal/git/sync/issues.go
Due: fast-format-check, fast-lint-check

feat(git): implement listFromAllProviders and updated-since filter
  cmd/git/repo/repo_list.go
  cmd/git/repo/repo_list_test.go
Due: fast-format-check, fast-lint-check

refactor(git): improve repo list code quality and performance
  cmd/git/repo/repo_list.go
  cmd/git/repo/repo_list_test.go
Due: fast-format-check, fast-lint-check

feat(git): implement Release API for GitLab and Gitea providers
  cmd/git/repo/repo_bulk_update_wrapper_test.go
  cmd/git/repo/repo_clone_test.go
  cmd/git/repo/repo_lifecycle_test.go
  cmd/git/repo/repo_sync_test.go
  cmd/git/repo/repo_test.go
  internal/git/provider/mock/provider.go
  internal/git/sync/engine.go
  internal/git/sync/releases.go
  internal/git/sync/settings.go
  internal/git/sync/wiki.go
  pkg/git/provider/interface.go
  pkg/git/provider/release_types.go
  pkg/gitea/auth.go
  pkg/gitea/provider_impl.go
  pkg/gitea/releases.go
  pkg/github/provider_impl.go
  pkg/gitlab/provider_impl.go
  pkg/gitlab/releases.go
Due: fast-format-check, fast-lint-check

docs(claude): refactor CLAUDE.md to LLM-friendly format
  CLAUDE.md
  docs/.claude-context/README.md
  docs/.claude-context/architecture-guide.md
  docs/.claude-context/build-guide.md
  docs/.claude-context/common-tasks.md
  docs/.claude-context/testing-guide.md
Due: markdown-format

feat(git-sync): integrate gzh-cli-git-sync library wrapper
  cmd/git-sync/doc.go
  cmd/git-sync/git_sync.go
  cmd/git-sync/register.go
  cmd/root.go
  go.mod
  go.sum
Due: fast-format-check, fast-lint-check, go-mod-tidy

chore(deps): bump alpine Docker image to 3.23
  Dockerfile
Due: none

chore(deps): bump actions/cache action to v5
  .github/workflows/main.yml
  .github/workflows/performance.yml
Due: none
