Repository Gizzahub/gzh-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: fast-format-check, fast-lint-check, go-mod-tidy, markdown-format

fast-format-check:
  name: Fast Go format check
  entry: bash -c 'make fmt-diff'
  language: system
  pass_filenames: false

fast-lint-check:
  name: Fast Go lint check
  entry: bash -c 'make lint-diff'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go mod tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

markdown-format:
  name: Format markdown files
  entry: mdformat
  language: system
  require_serial: true

fix(security): connect SARIF reconciliation
  security/internal/securityfinding/comparator_test.go
  security/internal/securityfinding/sarif.go
  security/internal/securityfinding/sarif_test.go
Due: fast-format-check, fast-lint-check

chore(lint): migrate gomodguard to v2
  .golangci.yml
Due: none

fix(quality): fail closed for changed-file lint
  .make/quality.mk
Due: none

fix(quality): terminate lint-diff options
  .make/quality.mk
Due: none

chore(format): normalize repository formatting
  CLAUDE.md
  PRODUCT.md
  README.md
  SOUL.md
  cmd/synclone/synclone_gzh_yaml_test.go
  docs/10-getting-started/migration-guides/bulk-clone-to-gzh.md
  docs/30-features/31-repository-management.md
  docs/80-integrations/83-webhook-management.md
  docs/90-archive/DOCUMENTATION_RESTRUCTURING_PLAN.md
  docs/integration/00-SUBPROJECTS_GUIDE.md
  docs/integration/README.md
  internal/simpleprof/profiler_test.go
  pkg/config/repo_config_audit.go
  pkg/config/repo_config_audit_test.go
  pkg/config/schema.go
  pkg/git/provider/types.go
  pkg/gitea/provider_impl.go
  pkg/gitea/provider_mutation_test.go
  pkg/github/provider_mutation_test.go
  pkg/gitlab/provider_impl.go
  test/e2e/scenarios/config_e2e_test.go
  test/integration/net-env/net_env_integration_test.go
  test/integration/pm/pm_external_test.go
  test/integration/pm/pm_integration_test.go
Due: fast-format-check, fast-lint-check, markdown-format

ci(quality): cache pinned tool binaries in bin/tools
  .github/workflows/main.yml
Due: none

chore(tooling): pin mise Go to go.mod's toolchain
  mise.toml
Due: none

fix(tooling): make the golangci-lint freshness check read build info
  .make/tools.mk
Due: none

ci(release): gate the config, not just the binaries
  .github/workflows/release.yml
  .goreleaser.yml
  .make/build.mk
  .make/tools.mk
  docs/70-deployment/70-releases.md
Due: markdown-format

chore: ignore gosec-report.json, its mktemp temporaries, and coverage.html
  .gitignore
  docs/70-deployment/73-security-scanning.md
Due: markdown-format

fix(docker): COPY the binary the build actually produces
  Dockerfile
Due: none

fix(pm): import the package the dependency candidate actually has
  cmd/pm_wrapper.go
  go.mod
  go.sum
Due: fast-format-check, fast-lint-check, go-mod-tidy

chore(make): pin the format toolchain to what golangci-lint embeds
  .make/quality.mk
  .make/tools.mk
Due: none

fix(deps): bump golang.org/x/crypto to v0.56.0 for GO-2026-6354/6355
  go.mod
  go.sum
  go.work
Due: go-mod-tidy

chore(build): close the markdown format gate and clear the drift it hid
  .make/quality.mk
  cmd/dev_env_wrapper.go
  cmd/git-sync/git_sync.go
  cmd/git/repo/repo_clone_or_update_wrapper.go
  cmd/git/repo/repo_test.go
  cmd/net_env_wrapper.go
  cmd/pm_wrapper.go
  cmd/quality_wrapper.go
  cmd/root.go
  cmd/shellforge_wrapper.go
  cmd/synclone/synclone_forge.go
  docs/70-deployment/70-releases.md
  internal/git/constructors.go
  internal/git/interfaces.go
  internal/git/sync/releases.go
  internal/synclone/template/template_engine.go
  internal/testlib/standard_repo_creator.go
  internal/testutil/helpers/tempdir.go
  pkg/config/provider_interfaces.go
  pkg/gitea/gitea_org_clone.go
  pkg/gitea/provider_impl.go
  pkg/github/bulk_operations.go
  pkg/github/dependency_version_policy.go
  pkg/github/github_org_clone.go
  pkg/github/http_adapter.go
  pkg/github/interfaces.go
  pkg/github/provider_impl.go
  pkg/github/repo_config.go
  pkg/github/token_validator.go
  pkg/gitlab/bulk_operations.go
  pkg/gitlab/factory.go
  pkg/gitlab/gitlab_group_clone.go
  pkg/gitlab/http_adapter.go
  pkg/gitlab/interfaces.go
  pkg/gitlab/provider_impl.go
Due: fast-format-check, fast-lint-check, markdown-format

fix(build): make the tracked completions the ones a release actually ships
  .make/build.mk
  completions/gzh-manager.fish
  completions/gzh-manager.zsh
  scripts/completiongen/main.go
Due: fast-format-check, fast-lint-check

fix(build): stop the catchall from answering every undefined target with success
  .make/build.mk
  .make/quality.mk
Due: none

feat(build): add the check target the DevBox CLAUDE.md has always documented
  .make/dev.mk
Due: none

test(profiling): prove concurrency by overlap instead of by wall-clock time
  internal/profiling/benchmarks_test.go
Due: fast-format-check, fast-lint-check

chore(ci): pin release.yml's six actions to commit SHAs
  .github/workflows/release.yml
Due: none

build(tools): pin the seven analysis, mock and docs tools
  .make/dev.mk
  .make/quality.mk
  .make/test.mk
  .make/tools.mk
Due: none

build(tools): make tools-status report the pinned staticcheck and mockgen
  .make/tools.mk
Due: none

build(tools): quote the new tool paths and stop blaming CI for local drift
  .make/dev.mk
  .make/quality.mk
  .make/tools.mk
Due: none

chore(tools): fold the three PATH-mockgen go:generate directives into generate-mocks
  .make/tools.mk
  internal/analysis/mocks/quality_analyzer_mock.go
  internal/analysis/quality_analyzer.go
  pkg/config/interfaces.go
  pkg/config/mocks/config_mocks.go
  pkg/synclone/facade.go
  pkg/synclone/mocks/bulk_clone_manager_mock.go
Due: fast-format-check, fast-lint-check

fix(tools): stop install_pinned_tool from deleting a working binary on failure
  .make/tools.mk
Due: none

fix(release): expand nfpm/AUR maintainer from env
  .github/workflows/release.yml
  .goreleaser.yml
  docs/70-deployment/70-releases.md
Due: markdown-format

ci(main): trigger Main CI on mise.toml changes
  .github/workflows/main.yml
Due: none

ci(mise): document Main CI path filter for the Go pin
  mise.toml
Due: none

ci(benchstat): pin CI install to tools.mk
  .github/workflows/main.yml
  .github/workflows/performance.yml
Due: none

fix(security): pin govulncheck and fail closed
  .github/workflows/main.yml
  .make/deps.mk
  .make/quality.mk
  .make/tools.mk
Due: none

chore(release): migrate dockers to dockers_v2
  .goreleaser.yml
  Dockerfile
Due: none

security(registry): derive gosec blanket tags from config, match tags faithfully
  docs/70-deployment/73-security-scanning.md
  docs/90-maintenance/94-gosec-suppression-inventory.md
  security/internal/acceptedrisk/helper_test.go
  security/internal/acceptedrisk/policy.go
  security/internal/acceptedrisk/policy_test.go
  security/internal/acceptedrisk/registry.go
  security/internal/acceptedrisk/registry_test.go
  security/internal/acceptedrisk/repository_test.go
  security/internal/acceptedrisk/suppression.go
  security/internal/acceptedrisk/suppression_test.go
  security/internal/acceptedrisk/validate.go
  security/internal/acceptedrisk/validate_test.go
  security/policy.yaml
Due: fast-format-check, fast-lint-check, markdown-format

security(registry): add fail-closed accepted-risk registry and link suppressions
  cmd/dev-env/ssh_enhanced.go
  cmd/selfupdate/selfupdate.go
  cmd/selfupdate/selfupdate_test.go
  docs/70-deployment/73-security-scanning.md
  docs/90-maintenance/94-gosec-suppression-inventory.md
  internal/pm/bootstrap/version_managers.go
  internal/pm/sync/nvm_npm.go
  internal/pm/sync/pyenv_pip.go
  internal/synclone/discovery/repo_discoverer.go
  internal/workerpool/pool.go
  pkg/gzhclient/client.go
  security/accepted-risks.yaml
  security/internal/acceptedrisk/helper_test.go
  security/internal/acceptedrisk/policy.go
  security/internal/acceptedrisk/policy_test.go
  security/internal/acceptedrisk/registry.go
  security/internal/acceptedrisk/registry_test.go
  security/internal/acceptedrisk/repository_test.go
  security/internal/acceptedrisk/suppression.go
  security/internal/acceptedrisk/suppression_test.go
  security/internal/acceptedrisk/validate.go
  security/internal/acceptedrisk/validate_test.go
  security/policy.yaml
Due: fast-format-check, fast-lint-check, markdown-format

chore(docs): clear the markdown drift that reopened the format gate
  docs/70-deployment/70-releases.md
Due: markdown-format

chore(docs): clear the markdown drift the security registry commits reintroduced
  docs/70-deployment/73-security-scanning.md
  docs/90-maintenance/94-gosec-suppression-inventory.md
Due: markdown-format

fix(security): close the three P3 findings the accepted-risk registry carried
  security/internal/acceptedrisk/repository_test.go
  security/internal/acceptedrisk/suppression.go
  security/internal/acceptedrisk/suppression_test.go
  security/internal/acceptedrisk/validate.go
  security/internal/acceptedrisk/validate_test.go
Due: fast-format-check, fast-lint-check

chore(make): wire the markdown gate into check and install mdformat with uv
  .make/dev.mk
  .make/quality.mk
  .make/tools.mk
Due: none

chore: verup
  internal/version/version.go
Due: fast-format-check, fast-lint-check

chore: version
  internal/version/version.go
Due: fast-format-check, fast-lint-check

chore(deps): bump gzh-cli-gitforge to v0.9.0
  go.mod
  go.sum
Due: go-mod-tidy

Path conditions:
  fast-format-check: any of: \.go$
  fast-lint-check: any of: \.go$
  go-mod-tidy: any of: ^go\.(mod|sum)$
  markdown-format: any of: \.(md|markdown|mdown)$
