Repository Gizzahub/gzh-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: fast-format-check, fast-lint-check, go-mod-tidy, markdown-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
      - id: check-json
      - id: pretty-format-json
        args: ['--autofix']
      - id: check-toml
      - id: check-xml
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  - repo: local
    hooks:
      - id: fast-format-check
        name: Fast Go format check
        entry: bash -c 'make fmt-diff'
        language: system
        types: [go]
        pass_filenames: false

      - id: fast-lint-check
        name: Fast Go lint check
        entry: bash -c 'make lint-diff'
        language: system
        types: [go]
        pass_filenames: false

      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        pass_filenames: false
        files: ^go\.(mod|sum)$

      - id: markdown-format
        name: Format markdown files
        entry: mdformat
        language: system
        types: [markdown]
        require_serial: true

ero message
  cmd/synclone/synclone_github.go
  pkg/github/github_org_clone.go
  tasks/issue/test.md
Due: fast-format-check, fast-lint-check, markdown-format

fix: sample -> example
  examples/README.md
  examples/cloud/cloud-config-aws.yaml
  examples/cloud/cloud-config-azure.yaml
  examples/repo-config/repo-config-audit-policies.yaml
  examples/repo-config/repo-config-enterprise.yaml
  examples/repo-config/repo-config-opensource.yaml
  examples/repo-config/repo-config-security.yaml
  examples/repo-config/repo-config-templates-overview.yaml
  examples/repo-config/repo-config-with-exceptions.yaml
  examples/webhooks/webhook-automation-rules.yaml
  examples/webhooks/webhook-bulk-config.yaml
  samples/repo-config-opensource.yaml
Due: markdown-format

feat(opus): PM 업데이트 명령어 고도화
  cmd/pm/update/enhanced_update.go
  cmd/pm/update/formatter.go
  cmd/pm/update/integration_example.go
  cmd/pm/update/progress_tracker.go
  cmd/pm/update/resource_manager.go
  cmd/pm/update/version_tracker.go
  specs/cli/pm/IMPLEMENTATION_SUMMARY.md
  specs/cli/pm/README.md
  specs/cli/pm/UC-001-update-enhanced.md
  specs/cli/pm/UC-001-update.md
  specs/cli/pm/compliance-analysis.md
  specs/cli/pm/implementation-patches.md
  specs/cli/pm/test-scenarios.md
Due: fast-format-check, fast-lint-check, markdown-format

feat(opus): 프로파일 명령어 고급 기능 추가
  cmd/profile/enhanced_profiling.go
  cmd/profile/enhanced_profiling_test.go
  cmd/profile/profile.go
  cmd/profile/profile_test.go
Due: fast-format-check, fast-lint-check

docs(opus): CLI 사양 문서 체계 구축
  docs/30-features/actions-policy-specification.md
  docs/30-features/dev-env-specification.md
  docs/30-features/ide-specification.md
  docs/30-features/man-specification.md
  docs/30-features/net-env-specification.md
  docs/30-features/package-manager-specification.md
  docs/30-features/profile-specification.md
  docs/30-features/quality-specification.md
  docs/30-features/repo-config-specification.md
  docs/30-features/shell-specification.md
  docs/60-development/67-testing-strategy.md
  docs/60-development/68-cli-specification-strategy.md
  docs/testing/cli-spec-template.md
  docs/testing/synclone/UC-002-github-clone.md
  docs/testing/synclone/UC-003-rate-limit.md
  docs/testing/synclone/UC-004-auth-error.md
  docs/testing/synclone/UC-005-pagination.md
  specs/core/git.md
  specs/core/synclone-git-extension.md
  specs/core/synclone.md
  specs/patterns/common.md
  specs/patterns/compatibility-rules.md
  specs/profile-enhancement-summary.md
  specs/testing/synclone/README.md
  specs/testing/synclone/test-commands.md
  specs/testing/synclone/test-data.md
  specs/testing/synclone/test-runner.sh
  specs/testing/synclone/test-scenarios.md
Due: markdown-format

fix: console output
  internal/logger/structured.go
  pkg/github/resumable_clone.go
Due: fast-format-check, fast-lint-check

docs(opus): synclone UX 개선사항 문서화
  docs/20-architecture/20-system-overview.md
  docs/30-features/30-synclone.md
  docs/testing/synclone/UC-006-ux-improvements.md
  docs/testing/synclone/UC-007-ux-test-scenarios.md
Due: markdown-format

feat: sdd doc
  docs/20-architecture/20-system-overview.md
  docs/30-features/30-synclone.md
  docs/testing/synclone/UC-006-ux-improvements.md
  docs/testing/synclone/UC-007-ux-test-scenarios.md
Due: markdown-format

chore(opus): SSH 명령어 help 및 스펙 업데이트
  cmd/dev-env/ssh.go
  specs/dev-env.md
Due: fast-format-check, fast-lint-check, markdown-format

feat(opus): SSH 설정 관리 시스템 구현
  cmd/dev-env/ssh_enhanced.go
  cmd/dev-env/ssh_install_key.go
  cmd/dev-env/ssh_key_installer.go
  cmd/dev-env/ssh_parser.go
  cmd/dev-env/ssh_simple_installer.go
  go.mod
  go.sum
Due: fast-format-check, fast-lint-check, go-mod-tidy

test(opus): SSH 관리 시스템 테스트 추가
  cmd/dev-env/ssh_enhanced_test.go
  cmd/dev-env/ssh_key_installer_test.go
  cmd/dev-env/ssh_parser_test.go
Due: fast-format-check, fast-lint-check

docs(opus): SSH 관리 기능 종합 문서화
  docs/30-features/33-ssh-management.md
  docs/30-features/dev-env-specification.md
  docs/50-api-reference/50-command-reference.md
  docs/70-deployment/72-release-notes-v1.0.0.md
Due: markdown-format

feat(opus): 통합 GitHub Actions 워크플로우 추가
  .github/workflows/main.yml
Due: none

perf(opus): GitHub Actions 캐싱 전략 최적화
  .github/workflows/ci.yml
  .github/workflows/performance.yml
Due: none

fix(opus): automation_engine_test.go 컴파일 오류 수정
  pkg/github/automation_engine_test.go
Due: fast-format-check, fast-lint-check

perf(opus): GitHub Actions 실행 빈도 대폭 최적화
  .github-backup/ci.yml
  .github/workflows/claude-ai.yml
  .github/workflows/main.yml
  .github/workflows/performance.yml
  .github/workflows/quality.yml
Due: none

chore(deps): bump actions/github-script from 6 to 8
  .github/workflows/main.yml
  .github/workflows/performance.yml
  .github/workflows/quality.yml
Due: none

chore(deps): bump actions/setup-go from 5 to 6
  .github/workflows/main.yml
  .github/workflows/performance.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
Due: none

chore(deps): bump github.com/aws/aws-sdk-go-v2 from 1.38.0 to 1.39.0
  go.mod
  go.sum
Due: go-mod-tidy

chore(deps): bump github.com/aws/aws-sdk-go-v2/config from 1.31.0 to 1.31.8
  go.mod
  go.sum
Due: go-mod-tidy

chore(deps): batch update multiple dependencies
  go.mod
Due: go-mod-tidy

claude init
  CLAUDE.md
Due: markdown-format

feat(opus): Git 리포지터리 대량 업데이트 명령 추가
  cmd/git/repo/repo_bulk_update.go
  cmd/git/repo/repo_bulk_update_test.go
  cmd/git/repo/repo_root.go
Due: fast-format-check, fast-lint-check

chore(opus): 의존성 및 빌드 도구 업데이트
  go.mod
  go.sum
  tools/tools.go
Due: fast-format-check, fast-lint-check, go-mod-tidy

feat: pull-all
  README.md
  cmd/git/repo/repo_bulk_update.go
  docs/30-features/32-git-repo-commands.md
  examples/git-repo-examples.yaml
Due: fast-format-check, fast-lint-check, markdown-format

fix: lint format
  cmd/dev-env/ssh.go
  cmd/dev-env/ssh_enhanced.go
  cmd/pm/update/integration_example.go
  cmd/profile/enhanced_profiling.go
  cmd/profile/profile.go
  docs/30-features/33-ssh-management.md
  docs/60-development/67-testing-strategy.md
  docs/60-development/68-cli-specification-strategy.md
  docs/testing/cli-spec-template.md
  docs/testing/synclone/UC-005-pagination.md
  specs/cli/README.md
  specs/cli/dev-env/UC-002-status.md
  specs/cli/doctor/UC-001-diagnose.md
  specs/cli/git/repo/UC-002-list.md
  specs/cli/git/repo/UC-003-clone-or-update.md
  specs/cli/git/webhook/UC-001-create.md
  specs/cli/git/webhook/UC-003-delete.md
  specs/cli/ide/UC-001-scan.md
  specs/cli/net-env/UC-001-switch.md
  specs/cli/net-env/UC-002-status.md
  specs/cli/net-env/UC-003-profiles.md
  specs/cli/pm/IMPLEMENTATION_SUMMARY.md
  specs/cli/pm/UC-001-update-enhanced.md
  specs/cli/pm/compliance-analysis.md
  specs/cli/pm/implementation-patches.md
  specs/cli/pm/test-scenarios.md
  specs/cli/profile/UC-001-run.md
  specs/cli/quality/UC-001-run.md
  specs/cli/synclone/UC-005-pagination.md
  specs/cli/template.md
  specs/profile-enhancement-summary.md
  specs/testing/synclone/test-data.md
Due: fast-format-check, fast-lint-check, markdown-format

fix: build err. go ver
  Makefile.build.mk
  go.sum
Due: go-mod-tidy

asdf를 안쓰는 경우
  Makefile.build.mk
Due: none

refactor(makefile): migrate modules to .make/ directory
  .make/build.mk
  .make/deps.mk
  .make/dev.mk
  .make/docker.mk
  .make/quality.mk
  .make/test.mk
  .make/tools.mk
  Makefile
Due: none

docs(makefile): document .make/ directory structure in CLAUDE.md
  CLAUDE.md
Due: markdown-format

feat(synclone): improve error handling with user-friendly messages and recovery suggestions
  cmd/synclone/synclone_github.go
  internal/logger/structured.go
  pkg/github/resumable_clone.go
Due: fast-format-check, fast-lint-check

chore: new claude.md
  CLAUDE.md
Due: markdown-format

feat(integration): integrate gzh-cli-package-manager as library
  cmd/pm_wrapper.go
  go.mod
Due: fast-format-check, fast-lint-check, go-mod-tidy

feat(integration): integrate gzh-cli-quality as library
  cmd/quality_wrapper.go
  go.mod
  go.sum
Due: fast-format-check, fast-lint-check, go-mod-tidy

refactor(cmd): remove duplicated pm and quality directories
  cmd/pm/AGENTS.md
  cmd/pm/advanced/advanced.go
  cmd/pm/cache/cache.go
  cmd/pm/doctor/doctor.go
  cmd/pm/export/export.go
  cmd/pm/install/install.go
  cmd/pm/pm.go
  cmd/pm/register.go
  cmd/pm/status/status.go
  cmd/pm/update/enhanced_update.go
  cmd/pm/update/formatter.go
  cmd/pm/update/integration_example.go
  cmd/pm/update/progress_tracker.go
  cmd/pm/update/resource_manager.go
  cmd/pm/update/resource_manager_unix.go
  cmd/pm/update/resource_manager_windows.go
  cmd/pm/update/update.go
  cmd/pm/update/version_tracker.go
  cmd/pm/utils/utils.go
  cmd/pm_wrapper.go
  cmd/quality/AGENTS.md
  cmd/quality/config/config.go
  cmd/quality/detector/language.go
  cmd/quality/detector/tools.go
  cmd/quality/executor/runner.go
  cmd/quality/git/utils.go
  cmd/quality/quality.go
  cmd/quality/quality_test.go
  cmd/quality/register.go
  cmd/quality/report/generator.go
  cmd/quality/tools/base.go
  cmd/quality/tools/go_tools.go
  cmd/quality/tools/interface.go
  cmd/quality/tools/javascript_tools.go
  cmd/quality/tools/python_tools.go
  cmd/quality/tools/registry.go
  cmd/quality/tools/rust_tools.go
  cmd/quality_wrapper.go
  cmd/root.go
Due: fast-format-check, fast-lint-check, markdown-format
