Repository Gizzahub/gzh-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: fast-format-check, fast-lint-check, go-mod-tidy, markdown-format

fast-format-check:
  name: Fast Go format check
  entry: bash -c 'make fmt-diff'
  language: system
  pass_filenames: false

fast-lint-check:
  name: Fast Go lint check
  entry: bash -c 'make lint-diff'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go mod tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

markdown-format:
  name: Format markdown files
  entry: mdformat
  language: system
  require_serial: true

chore(config): declare master integrate reclaim list
  .gz-git.yaml
Due: none

chore(deps): bump remaining patch modules
  go.mod
  go.sum
Due: go-mod-tidy

ci(actions): re-pin current workflow uses from group PR
  .github/workflows/claude-ai.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/main.yml
  .github/workflows/performance.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
Due: none

fix(cli): stub actions-policy APIClient methods
  cmd/actions-policy/main.go
Due: fast-format-check, fast-lint-check

chore(lint): clear unmasked gzh-cli findings
  .golangci.yml
  cmd/actions-policy/doc.go
  cmd/dev-env/azure_subscription.go
  cmd/dev-env/dev_env.go
  cmd/dev-env/ssh.go
  cmd/dev-env/ssh_enhanced.go
  cmd/dev-env/ssh_test.go
  cmd/dev-env/tui.go
  cmd/doctor/container.go
  cmd/doctor/doctor_test.go
  internal/logger/simple_logger.go
  internal/logger/structured.go
  internal/pm/bootstrap/homebrew.go
  internal/pm/duplicates/detector.go
  internal/pm/sync/asdf_multi.go
  internal/synclone/discovery/repo_discoverer.go
  internal/synclone/template/template_engine.go
  internal/testlib/merge_conflict_generator.go
  internal/testlib/standard_repo_creator.go
  pkg/config/repo_config_schema.go
  pkg/synclone/synclone_config.go
Due: fast-format-check, fast-lint-check

chore(version): bump to 0.1.1
  go.work.sum
  internal/version/version.go
Due: fast-format-check, fast-lint-check

fix(build): stop go.work from naming siblings that only exist in a devbox
  go.work
Due: none

chore(build): untrack go.work.sum
  .gitignore
  go.work.sum
Due: none

fix(cloud): make GetSyncRecommendations deterministic
  pkg/cloud/sync.go
  pkg/cloud/sync_test.go
Due: fast-format-check, fast-lint-check

ci(go): move off 1.26.4, which carries the stdlib CVE the family is clearing
  .github/workflows/main.yml
  .github/workflows/performance.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  go.mod
  go.work
Due: go-mod-tidy

chore(go): update toolchain to 1.26.7
  .github/workflows/main.yml
  .github/workflows/performance.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  go.mod
  go.work
Due: go-mod-tidy

fix(deps): update x/text for GO-2026-5970
  go.mod
  go.sum
Due: go-mod-tidy

test(git): isolate local repository fixtures
  cmd/doctor/doctor_test.go
  internal/git/fixtures_test.go
  internal/git/helpers_test.go
  internal/git/operations_test.go
Due: fast-format-check, fast-lint-check

ci(workflows): harden cross-platform checks and benchmarks
  .github/workflows/main.yml
  .github/workflows/performance.yml
Due: none

fix(clone): synchronize session progress saves
  internal/git/clone/session.go
  internal/git/clone/session_test.go
Due: fast-format-check, fast-lint-check

fix(dev-env): compile terminal input on Windows
  cmd/dev-env/ssh_key_installer.go
Due: fast-format-check, fast-lint-check

fix(dev-env): use portable stdin descriptor
  cmd/dev-env/ssh_key_installer.go
Due: fast-format-check, fast-lint-check

test(ide): await complete child pid record
  cmd/ide/command_timeout_unix_test.go
Due: fast-format-check, fast-lint-check

fix(ide): terminate timed-out process trees
  cmd/ide/command_timeout.go
  cmd/ide/command_timeout_unix.go
  cmd/ide/command_timeout_unix_test.go
  cmd/ide/command_timeout_windows.go
  cmd/ide/core_detector.go
Due: fast-format-check, fast-lint-check

fix(ide): bound Windows tree termination
  cmd/ide/command_timeout_unix_test.go
  cmd/ide/command_timeout_windows.go
Due: fast-format-check, fast-lint-check

test(ide): tolerate loaded process startup
  cmd/ide/command_timeout_unix_test.go
Due: fast-format-check, fast-lint-check

ci(windows): run coverage tests in Bash
  .github/workflows/main.yml
Due: none

test(github): isolate webhook benchmarks
  pkg/github/webhook_test.go
Due: fast-format-check, fast-lint-check

test(dev-env): make Windows contracts portable
  cmd/dev-env/aws_credentials_test.go
  cmd/dev-env/aws_profile_test.go
  cmd/dev-env/azure_subscription_test.go
  cmd/dev-env/gcloud_credentials_test.go
  cmd/dev-env/gcp_project_test.go
  cmd/dev-env/test_platform_helpers_test.go
Due: fast-format-check, fast-lint-check

fix(test): use Windows executable suffix
  test/e2e/helpers/cli.go
  test/e2e/helpers/cli_test.go
  test/integration/internal/testutil/executable.go
  test/integration/internal/testutil/executable_test.go
  test/integration/net-env/net_env_integration_test.go
  test/integration/pm/pm_external_test.go
  test/integration/pm/pm_integration_test.go
Due: fast-format-check, fast-lint-check

fix(paths): preserve empty and relative path semantics
  cmd/ide/core_detector.go
  cmd/ide/core_detector_test.go
  pkg/synclone/config_loader.go
  pkg/synclone/config_loader_test.go
Due: fast-format-check, fast-lint-check

fix(test): make path contracts portable
  cmd/doctor/doctor.go
  cmd/doctor/doctor_test.go
  cmd/ide/core_detector.go
  cmd/synclone/synclone_test.go
  pkg/config/directory_resolver_test.go
  pkg/config/loader_env_test.go
  pkg/config/loader_test.go
  pkg/config/unified_factory_test.go
  pkg/synclone/config_loader.go
  pkg/synclone/env_integration_test.go
Due: fast-format-check, fast-lint-check

test(github): tolerate coarse Windows clocks
  pkg/github/actions_policy_enforcer_test.go
  pkg/github/dependabot_policy_manager_test.go
  pkg/github/security_update_policy_test.go
Due: fast-format-check, fast-lint-check

test(github): verify policy timing outcomes
  pkg/github/actions_policy_enforcer_test.go
  pkg/github/security_update_policy_test.go
Due: fast-format-check, fast-lint-check

fix(profiling): keep zero-duration metrics finite
  internal/auth/validator_test.go
  internal/profiling/benchmarks.go
  internal/profiling/benchmarks_test.go
  internal/profiling/profiler.go
  internal/profiling/profiler_test.go
Due: fast-format-check, fast-lint-check

test(windows): allow zero-duration immediate operations
  internal/auth/validator_test.go
  internal/profiling/benchmarks_test.go
  test/integration/synclone_modern_test.go
Due: fast-format-check, fast-lint-check

test(windows): normalize path fixtures
  cmd/dev-env/ssh_enhanced_test.go
  cmd/synclone/synclone_test.go
  pkg/config/integration_test.go
  pkg/synclone/config_loader_test.go
Due: fast-format-check, fast-lint-check

test(windows): harden path fixture coverage
  cmd/dev-env/ssh_enhanced_test.go
  cmd/synclone/synclone_test.go
  pkg/synclone/config_loader_test.go
Due: fast-format-check, fast-lint-check

fix(profiling): exclude unmeasurable throughput
  cmd/doctor/benchmark.go
  cmd/doctor/doctor_test.go
  cmd/doctor/performance_snapshots.go
  internal/profiling/benchmarks_test.go
Due: fast-format-check, fast-lint-check

fix(profiling): guard unmeasurable comparison
  internal/profiling/benchmarks.go
  internal/profiling/benchmarks_test.go
Due: fast-format-check, fast-lint-check

fix(doctor): isolate git metadata collection
  cmd/doctor/benchmark.go
  cmd/doctor/doctor_test.go
  cmd/doctor/performance_snapshots.go
Due: fast-format-check, fast-lint-check

fix(doctor): collect benchmark git metadata
  cmd/doctor/benchmark.go
  cmd/doctor/doctor_test.go
Due: fast-format-check, fast-lint-check

docs(git-sync): add module agent guidance
  cmd/git-sync/AGENTS.md
Due: markdown-format

docs(git-sync): clarify package boundary
  cmd/git-sync/doc.go
Due: fast-format-check, fast-lint-check

ci: remove duplicate Go module caches
  .github/workflows/main.yml
  .github/workflows/performance.yml
Due: none

Path conditions:
  fast-format-check: any of: \.go$
  fast-lint-check: any of: \.go$
  go-mod-tidy: any of: ^go\.(mod|sum)$
  markdown-format: any of: \.(md|markdown|mdown)$
