Repository Gizzahub/gzh-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofumpt, gci, go-mod-tidy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
      - id: check-json
      - id: pretty-format-json
        args: ['--autofix']
      - id: check-toml
      - id: check-xml
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.55.2
    hooks:
      - id: golangci-lint
        args: ['--fix']

  - repo: local
    hooks:
      - id: gofumpt
        name: gofumpt
        entry: gofumpt -w
        language: system
        types: [go]
        pass_filenames: true

      - id: gci
        name: gci
        entry: gci write --skip-generated -s standard -s default -s "prefix(github.com/gizzahub/gzh-manager-go)"
        language: system
        types: [go]
        pass_filenames: true

      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        pass_filenames: false
        files: ^go\.(mod|sum)$

feat(pm): 중복 설치 감지 및 경고 출력 추가
  cmd/pm/doctor.go
  cmd/pm/update.go
  internal/pm/duplicates/detector.go
  tasks/plan/overview.md
Due: gofumpt, gci

feat(pm): pacman 고아 제거 안전장치 및 기본 비활성화
  cmd/pm/update.go
Due: gofumpt, gci

feat(pm): conda/mamba 환경 자동 업데이트 실행
  cmd/pm/update.go
Due: gofumpt, gci

style(sonnet): 포괄적 lint 이슈 수정 및 코드 품질 개선
  cmd/doctor/benchmark.go
  cmd/pm/clean.go
  cmd/pm/doctor.go
  cmd/pm/sync.go
  cmd/pm/update.go
  cmd/pm/validate.go
  cmd/quality/tools/base.go
  cmd/synclone/config_generate_discover.go
  internal/logger/simple_logger.go
  internal/netenv/profile_manager.go
  internal/pm/compat/compat.go
  internal/pm/compat/filters.go
  internal/pm/duplicates/detector.go
  internal/profiling/profiler_test.go
  internal/services/repoconfig.go
  internal/synclone/state/analyzer.go
Due: gofumpt, gci

feat(opus): 패키지 매니저 캐시 관리 기능 추가
  cmd/pm/cache.go
  cmd/pm/pm.go
Due: gofumpt, gci

style(claude-opus): 캐시 관리 코드 포맷팅 개선
  cmd/pm/cache.go
Due: gofumpt, gci

feat(claude-opus): 작업 태스크 관리 시스템 구현
  tasks/todo/01-fix-lint-issues.md
  tasks/todo/02-implement-pm-bootstrap.md
  tasks/todo/03-implement-pm-upgrade-managers.md
  tasks/todo/04-implement-pm-sync-versions.md
  tasks/todo/05-complete-network-metrics-report.md
  tasks/todo/06-remove-legacy-migration-code.md
  tasks/todo/07-cleanup-git-branches.md
Due: none

refactor(claude-opus): 코드 품질 개선 - lint 이슈 해결
  cmd/doctor/dev_env.go
  cmd/doctor/godoc.go
  internal/analysis/godoc/analyzer.go
  internal/pm/compat/filters.go
Due: gofumpt, gci

feat(claude-opus): 패키지 매니저 bootstrap 기능 구현
  cmd/pm/advanced.go
  internal/pm/bootstrap/asdf.go
  internal/pm/bootstrap/dependencies.go
  internal/pm/bootstrap/dependencies_test.go
  internal/pm/bootstrap/homebrew.go
  internal/pm/bootstrap/manager.go
  internal/pm/bootstrap/manager_test.go
  internal/pm/bootstrap/types.go
  internal/pm/bootstrap/version_managers.go
  tasks/done/01-fix-lint-issues__DONE_20250813.md
Due: gofumpt, gci

chore(claude-opus): TODO 02-implement-pm-bootstrap 완료 처리
  tasks/done/02-implement-pm-bootstrap__DONE_20250813.md
Due: none

chore(claude-opus): TODO 전처리 - 과밀 파일 논리적 분할
  tasks/suspend/todo/03-implement-pm-upgrade-managers.md
  tasks/todo/03a-implement-upgrade-interfaces.md
  tasks/todo/03b-implement-upgrade-managers.md
  tasks/todo/03c-implement-upgrade-commands.md
  tasks/todo/03d-implement-upgrade-tests.md
Due: none

autolint
  cmd/pm/advanced.go
  internal/pm/bootstrap/asdf.go
  internal/pm/bootstrap/dependencies.go
  internal/pm/bootstrap/dependencies_test.go
  internal/pm/bootstrap/homebrew.go
  internal/pm/bootstrap/manager.go
  internal/pm/bootstrap/manager_test.go
  internal/pm/bootstrap/types.go
  internal/pm/bootstrap/version_managers.go
  tasks/done/01-fix-lint-issues__DONE_20250813.md
  tasks/done/02-implement-pm-bootstrap__DONE_20250813.md
  tasks/suspend/todo/03-implement-pm-upgrade-managers.md
  tasks/todo/03a-implement-upgrade-interfaces.md
  tasks/todo/03b-implement-upgrade-managers.md
  tasks/todo/03c-implement-upgrade-commands.md
  tasks/todo/03d-implement-upgrade-tests.md
  tasks/todo/04-implement-pm-sync-versions.md
  tasks/todo/05-complete-network-metrics-report.md
  tasks/todo/06-remove-legacy-migration-code.md
  tasks/todo/07-cleanup-git-branches.md
Due: gofumpt, gci

chore(claude-opus): CLAUDE.md 업데이트 - 프로젝트명 변경 및 명령어 구조 반영
  CLAUDE.md
Due: none

chore(claude-opus): 사용하지 않는 코드 정리 및 TODO 개선
  CLAUDE.md
  cmd/net-env/cloud.go
  cmd/repo-config/client_factory.go
  cmd/synclone/synclone_git.go
  pkg/gitea/gitea_org_clone_test.go
  pkg/gitlab/gthab_group_clone_test.go
Due: gofumpt, gci

refactor(claude-opus): 심화 데드 코드 정리 - Phase 1
  cmd/man.go
Due: gofumpt, gci

refactor(claude-opus): Phase 2 대량 데드 코드 정리
  internal/debug/doc.go
  internal/event/doc.go
  internal/event/logger.go
  internal/event/server.go
  internal/event/storage.go
  internal/fsutil/fs.go
  internal/output/formatter.go
  internal/platform/helpers.go
  internal/platform/helpers_test.go
  internal/sliceutil/slice.go
  internal/synclone/state/advanced_manager.go
  internal/synclone/state/analyzer.go
  internal/synclone/state/resume_engine.go
  internal/synclone/state/types.go
  internal/testlib/doc.go
  internal/testlib/env_checker.go
  internal/testutil/mocking/doc.go
  internal/testutil/mocking/example_test.go
  internal/testutil/mocking/factories.go
  internal/testutil/mocking/integration_example_test.go
  internal/testutil/mocking/strategy.md
  internal/testutil/mocking/testify_mocks.go
Due: gofumpt, gci

feat(claude-opus): Phase 3 - Delete unused internal/filesystem package
  internal/filesystem/constructors.go
  internal/filesystem/doc.go
  internal/filesystem/interfaces.go
  internal/filesystem/mocks/filesystem_mocks.go
  internal/filesystem/operations_test.go
Due: gofumpt, gci

fix(claude-opus): 대규모 lint 이슈 수정 - 보안 및 코드 품질 개선
  cmd/dev-env/tui.go
  cmd/net-env/monitor_unified.go
  cmd/pm/cache.go
  cmd/quality/executor/runner.go
  internal/devenv/status/k8s_checker.go
  internal/devenv/switcher.go
  internal/netenv/profile_manager.go
  internal/pm/bootstrap/asdf.go
  internal/pm/bootstrap/homebrew.go
  internal/pm/bootstrap/manager_test.go
  internal/pm/bootstrap/types.go
  internal/pm/bootstrap/version_managers.go
  internal/profiling/profiler_test.go
Due: gofumpt, gci

feat(claude-opus): 대량 중복 코드 제거 - Provider 및 Command 구조 리팩토링
  cmd/dev-env/aws.go
  cmd/dev-env/base_command.go
  cmd/dev-env/dev_env.go
  cmd/dev-env/docker.go
  cmd/dev-env/kubeconfig.go
  cmd/dev-env/ssh.go
  pkg/git/provider/base_provider.go
  pkg/git/provider/common_helpers.go
  pkg/gitea/provider_impl.go
  pkg/github/provider_impl.go
  pkg/gitlab/provider_impl.go
Due: gofumpt, gci

refactor(claude-opus): Phase 3 - TUI 컴포넌트 공통 라이브러리 구조 생성
  internal/devenv/tui/styles.go
  internal/netenv/tui/styles.go
  internal/tui/common/components.go
  internal/tui/common/keymap.go
  internal/tui/common/messages.go
  internal/tui/common/styles.go
Due: gofumpt, gci

refactor(claude-opus): Phase 4 - Config Provider 어댑터 중복 코드 제거
  pkg/config/base_provider_adapter.go
  pkg/config/provider_adapters.go
  pkg/config/provider_apis.go
Due: gofumpt, gci

refactor(claude-opus): Phase 5 - 테스트 유틸리티 공통 헬퍼 추출 완료
  internal/testlib/devenv_test_helpers.go
  internal/testlib/e2e_test_helpers.go
  internal/testlib/github_test_helpers.go
Due: gofumpt, gci

refactor(claude-opus): Phase 6 - Doctor 명령어 도구 검사 기능 통합
  cmd/doctor/dev_env_refactored_example.go
  cmd/doctor/tool_checker.go
Due: gofumpt, gci

docs(claude-opus): 코드 중복 제거 프로젝트 완료 - 종합 보고서
  REFACTORING_SUMMARY.md
Due: none

style(claude-opus): 자동 포맷팅 적용 - gofumpt & 라인 끝 정리
  cmd/doctor/dev_env_refactored_example.go
  cmd/doctor/tool_checker.go
  internal/devenv/tui/styles.go
  internal/netenv/tui/styles.go
  internal/testlib/devenv_test_helpers.go
  internal/testlib/e2e_test_helpers.go
  internal/testlib/github_test_helpers.go
  internal/tui/common/components.go
  internal/tui/common/keymap.go
  internal/tui/common/messages.go
  internal/tui/common/styles.go
  pkg/config/base_provider_adapter.go
  pkg/config/provider_adapters.go
  pkg/config/provider_apis.go
Due: gofumpt, gci

fix: lint
  REFACTORING_SUMMARY.md
Due: none

chore: deps update
  go.mod
  go.sum
Due: go-mod-tidy

refactor(claude-opus): 의존성 관리 시스템 개선 및 직접 의존성 업데이트
  Makefile.deps.mk
  go.mod
  go.sum
Due: go-mod-tidy

feat(claude-opus): 패키지 매니저 업그레이드 인터페이스 정의
  internal/pm/upgrade/types.go
Due: gofumpt, gci

chore(claude-opus): 업그레이드 인터페이스 구현 완료로 태스크 이동
  tasks/done/03a-implement-upgrade-interfaces__DONE_20250818.md
Due: none

refactor(claude-opus): 레거시 마이그레이션 기능 deprecate
  internal/config/service.go
  pkg/config/migration.go
  pkg/config/unified_loader.go
  tasks/suspend/todo/03-implement-pm-upgrade-managers.md
Due: gofumpt, gci

feat(claude-opus): 개별 패키지 매니저 업그레이더 구현
  internal/pm/upgrade/asdf.go
  internal/pm/upgrade/homebrew.go
  internal/pm/upgrade/version_managers.go
Due: gofumpt, gci

feat(claude-opus): 업그레이드 CLI 명령어 및 코디네이터 완성
  cmd/pm/advanced.go
  internal/pm/upgrade/manager.go
Due: gofumpt, gci

test(claude-opus): 패키지 매니저 업그레이드 테스트 추가
  internal/pm/upgrade/manager_test.go
  internal/pm/upgrade/types_test.go
Due: gofumpt, gci

feat(claude-opus): 패키지 매니저 버전 동기화 기능 구현
  cmd/pm/advanced.go
  internal/pm/sync/asdf_multi.go
  internal/pm/sync/manager.go
  internal/pm/sync/nvm_npm.go
  internal/pm/sync/pyenv_pip.go
  internal/pm/sync/rbenv_gem.go
  internal/pm/sync/types.go
Due: gofumpt, gci

feat(claude-opus): Network Metrics 리포트 기능 완성
  cmd/net-env/network_metrics_cmd.go
  internal/netenv/reports/bandwidth_calculator.go
  internal/netenv/reports/comprehensive.go
  internal/netenv/reports/html_generator.go
  internal/netenv/reports/interface_speed.go
  internal/netenv/reports/latency.go
  internal/netenv/reports/system_info.go
  internal/netenv/reports/text_generator.go
  tasks/done/01-fix-lint-issues__DONE_20250813.md
  tasks/done/02-implement-pm-bootstrap__DONE_20250813.md
  tasks/done/03a-implement-upgrade-interfaces__DONE_20250818.md
  tasks/todo/03a-implement-upgrade-interfaces.md
  tasks/todo/03b-implement-upgrade-managers.md
  tasks/todo/03c-implement-upgrade-commands.md
  tasks/todo/03d-implement-upgrade-tests.md
  tasks/todo/04-implement-pm-sync-versions.md
  tasks/todo/06-remove-legacy-migration-code.md
  tasks/todo/07-cleanup-git-branches.md
Due: gofumpt, gci

chore(claude-opus): 완료된 네트워크 메트릭스 TODO 파일 정리
  tasks/done/05-complete-network-metrics-report__DONE_20250118.md
Due: none

fix: html generator
  internal/netenv/reports/html_generator.go
Due: gofumpt, gci
