Repository Gizzahub/gzh-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: fast-format-check, fast-lint-check, go-mod-tidy, markdown-format

fast-format-check:
  name: Fast Go format check
  entry: bash -c 'make fmt-diff'
  language: system
  pass_filenames: false

fast-lint-check:
  name: Fast Go lint check
  entry: bash -c 'make lint-diff'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go mod tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

markdown-format:
  name: Format markdown files
  entry: mdformat
  language: system
  require_serial: true

refactor(synclone): resolve remaining lint findings
  cmd/synclone/config_generate_template.go
  cmd/synclone/synclone_forge.go
Due: fast-format-check, fast-lint-check

ci: add govulncheck job for automated vulnerability scanning
  .github/workflows/main.yml
Due: none

test(net-env): align tests with library-backed command tree
  cmd/net-env/net_env_test.go
  cmd/synclone/synclone_forge.go
Due: fast-format-check, fast-lint-check

chore(tasks): untrack local tasks directory per family policy
  .gitignore
Due: none

docs(soul): add product philosophy document
  SOUL.md
  tasks/blocked/17-package-manager-windows-support__BLOCKED_20250729.md
  tasks/done/18-package-manager-winget-support.md
  tasks/done/19-package-manager-scoop-support.md
  tasks/done/20-package-manager-chocolatey-support.md
  tasks/done/21-package-manager-cleanup-strategies.md
  tasks/issue/22-winget-per-manager-commands-and-sources.md
  tasks/issue/23-scoop-per-manager-cli-buckets-manifest.md
  tasks/issue/24-chocolatey-per-manager-cli-uac-progress.md
  tasks/issue/25-advanced-cleanup-strategies-implementation.md
Due: markdown-format

docs(product): add No-PRD PRODUCT.md contract
  PRODUCT.md
Due: markdown-format

docs(cleanup): move refactoring and documentation reports to docs/90-archive/
  docs/90-archive/DOCUMENTATION_COMPLETION_REPORT.md
  docs/90-archive/DOCUMENTATION_RESTRUCTURING_PLAN.md
  docs/90-archive/README.md
  docs/90-archive/REFACTORING_ANALYSIS_FINAL.md
  docs/90-archive/REFACTORING_COMPLETION_REPORT.md
  docs/90-archive/REFACTORING_PROGRESS_UPDATE.md
Due: markdown-format

docs(overview): register 90-archive in documentation index
  docs/00-overview/00-index.md
  docs/90-archive/README.md
Due: markdown-format

docs(links): fix non-archive broken markdown links
  docs/00-overview/00-index.md
  docs/10-getting-started/migration-guides/bulk-clone-to-gzh.md
  docs/10-getting-started/migration-guides/daemon-to-cli.md
  docs/30-features/30-synclone.md
  docs/30-features/31-repository-management.md
  docs/30-features/32-git-repo-commands.md
  docs/30-features/32-output-formats-backup.md
  docs/30-features/39-lifecycle-management.md
  docs/50-api-reference/50-command-reference.md
  docs/60-development/63-pre-commit-guide.md
  docs/70-deployment/71-release-preparation.md
  docs/80-integrations/83-webhook-management.md
  docs/99-appendix/99-index.md
  docs/integration/integration-summary.md
  examples/README.md
  scripts/debug/README.md
  specs/cli/template.md
  specs/core/synclone-git-extension.md
  specs/synclone-git-extension.md
Due: markdown-format

chore(hooks): remove dead mdformat pre-commit hook
  .pre-commit-config.yaml
Due: none

chore(lint): set run.go to match go.mod (phase1)
  .golangci.yml
Due: none

chore(go): bump module to go 1.26 (task 22 phase2)
  .golangci.yml
  go.mod
Due: go-mod-tidy

fix(dev-env): drop removed Force field from SwitchOptions
  cmd/dev-env/switch_all.go
Due: fast-format-check, fast-lint-check

fix(dev-env): keep gcp config usable without auth
  cmd/dev-env/gcp_project.go
  cmd/dev-env/gcp_project_test.go
Due: fast-format-check, fast-lint-check

test(dev-env): fix Short assertions that never matched
  cmd/dev-env/kubeconfig_test.go
  cmd/dev-env/ssh_test.go
Due: fast-format-check, fast-lint-check

fix(doctor): compare go versions instead of listing them
  cmd/doctor/dev_env.go
  cmd/doctor/doctor.go
  cmd/doctor/doctor_test.go
Due: fast-format-check, fast-lint-check

test(ide): fix alias-dedup expectation that never held
  cmd/ide/open/open_test.go
Due: fast-format-check, fast-lint-check

fix(git): wire real providers into repo commands
  cmd/git/repo/repo_clone.go
  cmd/git/repo/repo_create.go
  cmd/git/repo/repo_sync_test.go
  cmd/git/repo/repo_test.go
Due: fast-format-check, fast-lint-check

fix(git): return error when clone reports failures
  cmd/git/repo/repo_clone_test.go
  cmd/git/repo/repo_lifecycle_test.go
  cmd/git/repo/repo_sync_test.go
  cmd/git/repo/repo_test.go
  internal/git/clone/executor.go
Due: fast-format-check, fast-lint-check

fix(config): revert lint autofixes that broke config
  internal/config/service_test.go
  internal/testutil/fixtures/config_fixtures.go
  pkg/config/schema.go
  pkg/config/unified_schema.go
  test/e2e/scenarios/config_e2e_test.go
  test/e2e/scenarios/synclone_e2e_test.go
Due: fast-format-check, fast-lint-check

fix(config): write the config that was passed in
  internal/config/service.go
  pkg/config/unified_facade.go
Due: fast-format-check, fast-lint-check

fix(config): restore config schema tags and validation
  pkg/config/schema.go
  pkg/config/unified_schema.go
Due: fast-format-check, fast-lint-check

fix(config): honor GZH_CONFIG_PATH and ConfigSearchPaths
  pkg/config/integration_test.go
  pkg/config/loader.go
  pkg/config/loader_test.go
  pkg/config/unified_factory.go
Due: fast-format-check, fast-lint-check

fix(config): restore repo-config schema and truncated examples
  examples/repo-config/repo-config-enterprise.yaml
  examples/repo-config/repo-config-opensource.yaml
  examples/repo-config/repo-config-schema.yaml
  pkg/config/repo_config_schema.go
  pkg/config/repo_config_templates_test.go
  test/integration/github/fixtures.go
Due: fast-format-check, fast-lint-check

fix(config): make injected environment authoritative in factory
  pkg/config/unified_factory.go
  pkg/config/unified_factory_test.go
Due: fast-format-check, fast-lint-check

fix(config): stop double-reporting fields in startup validator
  pkg/config/loader_test.go
  pkg/config/startup_validator.go
  pkg/config/startup_validator_test.go
Due: fast-format-check, fast-lint-check

test(config): assert real facade contract, not a skeleton
  pkg/config/unified_facade_test.go
Due: fast-format-check, fast-lint-check

fix(config): make concurrency limits advisory, require providers
  pkg/config/startup_validator.go
  pkg/config/unified_schema.go
Due: fast-format-check, fast-lint-check

fix(config): separate invalid config from load failure
  pkg/config/unified_loader.go
  pkg/config/validator.go
Due: fast-format-check, fast-lint-check

fix(config): compare workflow refs in a canonical form
  pkg/config/repo_config_audit.go
Due: fast-format-check, fast-lint-check

test(config): fix self-contradicting audit expectations
  pkg/config/repo_config_audit_test.go
Due: fast-format-check, fast-lint-check

test(testutil): route mock HTTP paths to the real endpoints
  internal/testutil/example_test.go
Due: fast-format-check, fast-lint-check

fix(gzhclient): reject unsupported platforms instead of skipping
  pkg/gzhclient/client.go
Due: fast-format-check, fast-lint-check

test(auth): expect exhaustion warning at zero remaining
  internal/auth/validator_test.go
Due: fast-format-check, fast-lint-check

fix(auth): reject empty token before calling the API
  internal/auth/validator.go
Due: fast-format-check, fast-lint-check

fix(auth): parse rate limit headers and make endpoints injectable
  internal/auth/validator.go
  internal/auth/validator_test.go
Due: fast-format-check, fast-lint-check

refactor(github): accept a rule manager interface in the engine
  pkg/github/automation_engine.go
  pkg/github/automation_engine_test.go
Due: fast-format-check, fast-lint-check

fix(github): generate collision-free change IDs
  pkg/github/changelog.go
Due: fast-format-check, fast-lint-check

test(github): fix policy fixtures and severity type mismatch
  pkg/github/actions_policy_enforcer_test.go
  pkg/github/security_update_policy_test.go
Due: fast-format-check, fast-lint-check

Path conditions:
  fast-format-check: any of: \.go$
  fast-lint-check: any of: \.go$
  go-mod-tidy: any of: ^go\.(mod|sum)$
  markdown-format: any of: \.(md|markdown|mdown)$
