Repository Gizzahub/gzh-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofumpt, gci, go-mod-tidy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
      - id: check-json
      - id: pretty-format-json
        args: ['--autofix']
      - id: check-toml
      - id: check-xml
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.55.2
    hooks:
      - id: golangci-lint
        args: ['--fix']

  - repo: local
    hooks:
      - id: gofumpt
        name: gofumpt
        entry: gofumpt -w
        language: system
        types: [go]
        pass_filenames: true

      - id: gci
        name: gci
        entry: gci write --skip-generated -s standard -s default -s "prefix(github.com/gizzahub/gzh-manager-go)"
        language: system
        types: [go]
        pass_filenames: true

      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        pass_filenames: false
        files: ^go\.(mod|sum)$

refactor(repo-config): organize files with feature-based naming
  cmd/repo-config/cmd_apply.go
  cmd/repo-config/cmd_audit.go
  cmd/repo-config/cmd_dashboard.go
  cmd/repo-config/cmd_diff.go
  cmd/repo-config/cmd_diff_test.go
  cmd/repo-config/cmd_list.go
  cmd/repo-config/cmd_risk.go
  cmd/repo-config/cmd_template.go
  cmd/repo-config/cmd_validate.go
  cmd/repo-config/cmd_webhook.go
Due: gofumpt, gci

refactor(opus): IDE package restructuring - extract internal types and organize with feature-based naming
  cmd/ide/cmd_open.go
  cmd/ide/cmd_open_test.go
  cmd/ide/cmd_scan.go
  cmd/ide/cmd_status.go
  cmd/ide/cmd_status_test.go
  cmd/ide/core_detector.go
  cmd/ide/core_detector_test.go
  internal/idecore/detector.go
  internal/idecore/types.go
Due: gofumpt, gci

feat(claude-opus): Complete 4-phase refactoring project verification
  cmd/ide/core_detector.go
  cmd/net-env/net_env.go
  cmd/net-env/status/status.go
  tasks/todo/99-refactoring-project-completion.md
Due: gofumpt, gci

chore(opus): 리팩토링 완료 작업 정리 및 아카이브
  tasks/done/99-refactoring-project-completion__COMPLETED_20250823.md
  tasks/issue/alert.md
Due: none

chore(opus): tasks/issue 정리 및 리팩토링 상태 정정
  cmd/repo-config/cmd_diff.go
  cmd/repo-config/repo_config.go
  cmd/repo-config/shared_types.go
  cmd/repo-config/utils.go
  tasks/done/2025-08-22-net-env-depth-plan__COMPLETED_20250823.md
  tasks/done/2025-08-22-pm-depth-plan__COMPLETED_20250823.md
  tasks/done/99-refactoring-project-completion__COMPLETED_20250823.md
  tasks/issue/alert.md
Due: gofumpt, gci

feat(opus): repo-config 패키지 서브패키지화 시작 - audit 명령어 분리
  cmd/repo-config/audit/audit.go
  cmd/repo-config/repo_config.go
Due: gofumpt, gci

docs(opus): 리팩토링 프로젝트 최종 분석 보고서 작성
  REFACTORING_ANALYSIS_FINAL.md
Due: none

feat(opus): repo-config 서브패키지화 진행 - apply, diff 완료
  cmd/repo-config/apply/apply.go
  cmd/repo-config/cmd_apply.go
  cmd/repo-config/diff/diff.go
  cmd/repo-config/diff/diff_test.go
  cmd/repo-config/repo_config.go
Due: gofumpt, gci

docs(opus): 리팩토링 프로젝트 중간 진행 상황 종합 보고
  REFACTORING_PROGRESS_UPDATE.md
Due: none

refactor(opus): 4단계 리팩토링 프로젝트 100% 완료 - IDE 패키지 모듈화
  cmd/ide/cmd_open_test.go
  cmd/ide/fixsync/fixsync.go
  cmd/ide/ide.go
  cmd/ide/list/list.go
  cmd/ide/monitor/monitor.go
  cmd/ide/open/open.go
  cmd/ide/open/open_test.go
  cmd/ide/scan/scan.go
  cmd/ide/status/status.go
  cmd/ide/status/status_test.go
  cmd/repo-config/apply/apply.go
  cmd/repo-config/audit/audit.go
  cmd/repo-config/dashboard/dashboard.go
  cmd/repo-config/diff/diff.go
  cmd/repo-config/list/list.go
  cmd/repo-config/repo_config.go
  cmd/repo-config/risk/risk.go
  cmd/repo-config/shared_types.go
  cmd/repo-config/template/template.go
  cmd/repo-config/validate/validate.go
  cmd/repo-config/webhook/webhook.go
  tasks/done/REFACTORING_100_PERCENT_COMPLETION__20250823.md
  tasks/done/REFACTORING_FINAL_COMPLETION__20250823.md
Due: gofumpt, gci

fix(opus): repo-config 명령어 플래그 충돌 및 중복 파일 정리
  cmd/repo-config/cmd_template.go
  cmd/repo-config/cmd_validate.go
  cmd/repo-config/cmd_webhook.go
  cmd/repo-config/validate/validate.go
Due: gofumpt, gci

chore(opus): 완료된 리팩터링 작업 문서 정리
  tasks/done/00-refactoring-project-preparation__DONE_20250823.md
  tasks/done/01-phase1-pm-package-refactoring__COMPLETED_20250823.md
  tasks/done/02-phase2-repo-config-refactoring__COMPLETED_20250823.md
  tasks/done/03-phase3-ide-internal-extraction__COMPLETED_20250823.md
  tasks/done/04-phase4-net-env-comprehensive-restructuring__COMPLETED_20250823.md
  tasks/done/2025-08-22-net-env-depth-plan__COMPLETED_20250823.md
  tasks/done/2025-08-22-pm-depth-plan__COMPLETED_20250823.md
  tasks/done/99-refactoring-project-completion__COMPLETED_20250823.md
  tasks/done/REFACTORING_100_PERCENT_COMPLETION__20250823.md
  tasks/done/REFACTORING_FINAL_COMPLETION__20250823.md
  tasks/issue/2025-08-22-ide-internal-depth-plan.md
  tasks/issue/2025-08-22-repo-config-depth-plan.md
  tasks/qa-result.md
Due: none

fix(synclone): 진행률 루프 버그로 4/5 고정되는 문제 수정
  pkg/github/resumable_clone.go
Due: gofumpt, gci

fix: make install, param name org, target
  Makefile.build.mk
  cmd/synclone/synclone_github.go
Due: gofumpt, gci

fix(progress): 초기 진행 표시를 단일 라인 갱신으로 변경
  pkg/github/resumable_clone.go
Due: gofumpt, gci

fix(synclone): gitlab 무플래그 시 에러 대신 도움말 출력
  cmd/synclone/synclone_gitlab.go
Due: gofumpt, gci

feat(synclone): GitLab 하트비트 출력으로 무출력 방지
  cmd/synclone/synclone_gitlab.go
  pkg/gitlab/base_url.go
  pkg/gitlab/gitlab_group_clone.go
  pkg/gitlab/streaming_api.go
Due: gofumpt, gci

fix(gitlab): group 정규화 및 404/권한 에러 메시지 개선
  cmd/synclone/synclone_gitlab.go
  pkg/gitlab/auth.go
  pkg/gitlab/gitlab_group_clone.go
Due: gofumpt, gci

feat(gitlab): 프라이빗 사전감지 및 토큰 안내 메시지 추가
  Makefile.build.mk
  cmd/synclone/synclone_gitlab.go
  pkg/gitlab/visibility.go
Due: gofumpt, gci

feat(gitlab): 토큰 권한/발급 URL 안내 메시지 추가
  Makefile.build.mk
  cmd/synclone/synclone_gitlab.go
  pkg/gitlab/auth.go
  pkg/gitlab/gitlab_group_clone.go
Due: gofumpt, gci

feat(gitlab): 콘솔 가이드 메시지 가독성 개선
  pkg/gitlab/auth.go
  pkg/gitlab/gitlab_group_clone.go
  pkg/gitlab/visibility.go
Due: gofumpt, gci

fix(synclone): 진행률 표시 및 실패 상세 정보 개선
  pkg/gitlab/resumable_clone.go
  pkg/synclone/progress.go
Due: gofumpt, gci

fix(gitlab): 클론 URL 인증 방식 개선 (사용자명 기반)
  pkg/gitlab/auth.go
  pkg/gitlab/gitlab_group_clone.go
Due: gofumpt, gci

fix(synclone): UI/UX 개선 - 진행률, 에러 메시지, 상태 표시
  pkg/gitlab/resumable_clone.go
  pkg/synclone/progress.go
Due: gofumpt, gci

fix(progress): 초기 진행률도 한 줄 덮어쓰기로 출력
  pkg/gitlab/resumable_clone.go
Due: gofumpt, gci

feat(synclone): 상태파일을 타겟 디렉토리에 저장하도록 변경
  pkg/github/resumable_clone.go
  pkg/gitlab/resumable_clone.go
Due: gofumpt, gci

refactor: docs
  docs/REFACTORING_ANALYSIS_FINAL.md
  docs/REFACTORING_COMPLETION_REPORT.md
  docs/REFACTORING_PROGRESS_UPDATE.md
  tasks/qa-result.md
Due: none

feat: add command registry
  cmd/dev-env/register.go
  cmd/doctor/register.go
  cmd/git/register.go
  cmd/ide/register.go
  cmd/net-env/register.go
  cmd/pm/register.go
  cmd/profile/register.go
  cmd/quality/register.go
  cmd/registry/registry.go
  cmd/repo-config/register.go
  cmd/root.go
  cmd/synclone/register.go
  docs/20-architecture/20-system-overview.md
Due: gofumpt, gci

feat: add command registry (#58)
  cmd/dev-env/register.go
  cmd/doctor/register.go
  cmd/git/register.go
  cmd/ide/register.go
  cmd/net-env/register.go
  cmd/pm/register.go
  cmd/profile/register.go
  cmd/quality/register.go
  cmd/registry/registry.go
  cmd/repo-config/register.go
  cmd/root.go
  cmd/synclone/register.go
  docs/20-architecture/20-system-overview.md
Due: gofumpt, gci

feat: add app context for shared dependencies
  cmd/dev-env/dev_env.go
  cmd/git/git.go
  cmd/gz/main.go
  cmd/ide/ide.go
  cmd/net-env/net_env.go
  cmd/pm/pm.go
  cmd/profile/profile.go
  cmd/quality/quality.go
  cmd/repo-config/repo_config.go
  cmd/root.go
  cmd/synclone/config.go
  cmd/synclone/synclone.go
  cmd/synclone/synclone_gitea.go
  cmd/synclone/synclone_github.go
  cmd/synclone/synclone_gitlab.go
  cmd/synclone/synclone_state.go
  cmd/synclone/synclone_validate.go
  docs/architecture.md
  internal/app/context.go
  internal/apprunner/runner.go
Due: gofumpt, gci

feat: centralize config errors
  cmd/dev-env/gcp_project.go
  cmd/synclone/synclone.go
  docs/CONTRIBUTING.md
  internal/config/service.go
  internal/errors/errors.go
  pkg/config/unified_facade.go
Due: gofumpt, gci

feat: centralize config errors (#60)
  cmd/dev-env/gcp_project.go
  cmd/synclone/synclone.go
  docs/CONTRIBUTING.md
  internal/config/service.go
  internal/errors/errors.go
  pkg/config/unified_facade.go
Due: gofumpt, gci

docs: add command use cases and tests
  .github/pull_request_template.md
  cmd/git/git_test.go
  cmd/version/version_test.go
  docs/testing/actions-policy/UC-001.md
  docs/testing/config/UC-001.md
  docs/testing/dev-env/UC-001.md
  docs/testing/doctor/UC-001.md
  docs/testing/git/UC-001.md
  docs/testing/gz/UC-001.md
  docs/testing/gzhclient/UC-001.md
  docs/testing/ide/UC-001.md
  docs/testing/net-env/UC-001.md
  docs/testing/pm/UC-001.md
  docs/testing/profile/UC-001.md
  docs/testing/quality/UC-001.md
  docs/testing/repo-config/UC-001.md
  docs/testing/root/UC-001.md
  docs/testing/shell/UC-001.md
  docs/testing/synclone/UC-001.md
  docs/testing/use-case-template.md
  docs/testing/version/UC-001.md
  pkg/config/visibility_test.go
  pkg/gzhclient/client_test.go
Due: gofumpt, gci

docs: add command use cases and tests (#61)
  .github/pull_request_template.md
  cmd/git/git_test.go
  cmd/version/version_test.go
  docs/testing/actions-policy/UC-001.md
  docs/testing/config/UC-001.md
  docs/testing/dev-env/UC-001.md
  docs/testing/doctor/UC-001.md
  docs/testing/git/UC-001.md
  docs/testing/gz/UC-001.md
  docs/testing/gzhclient/UC-001.md
  docs/testing/ide/UC-001.md
  docs/testing/net-env/UC-001.md
  docs/testing/pm/UC-001.md
  docs/testing/profile/UC-001.md
  docs/testing/quality/UC-001.md
  docs/testing/repo-config/UC-001.md
  docs/testing/root/UC-001.md
  docs/testing/shell/UC-001.md
  docs/testing/synclone/UC-001.md
  docs/testing/use-case-template.md
  docs/testing/version/UC-001.md
  pkg/config/visibility_test.go
  pkg/gzhclient/client_test.go
Due: gofumpt, gci

fix: format markdown
  .github/pull_request_template.md
  docs/10-getting-started/migration-guides/bulk-clone-to-gzh.md
  docs/20-architecture/20-system-overview.md
  docs/20-architecture/21-development-container.md
  docs/20-architecture/22-refactoring-history.md
  docs/30-features/30-index.md
  docs/30-features/30-synclone.md
  docs/30-features/36-quality-management.md
  docs/50-api-reference/50-command-reference.md
  docs/50-api-reference/50-index.md
  docs/60-development/61-debugging-guide.md
  docs/70-deployment/70-releases.md
  docs/70-deployment/73-security-scanning.md
  docs/70-deployment/75-security-guidelines.md
  docs/80-integrations/81-terraform-comparison.md
  docs/80-integrations/82-terraform-vs-gz.md
  docs/80-integrations/enterprise/actions-policy-schema.md
  docs/90-maintenance/90-troubleshooting.md
  docs/99-appendix/enterprise/actions-policy-schema.md
  docs/testing/config/UC-001.md
  docs/testing/gzhclient/UC-001.md
  docs/testing/use-case-template.md
  scripts/debug/README.md
  specs/git.md
  specs/ide.md
  specs/profile.md
  specs/quality.md
  tasks/blocked/17-package-manager-windows-support__BLOCKED_20250729.md
  test/integration/docker/README.md
Due: none

ci: verify cmd AGENTS files
  .github/workflows/ci.yml
  CLAUDE.md
  README.md
  cmd/actions-policy/AGENTS.md
  cmd/dev-env/AGENTS.md
  cmd/doctor/AGENTS.md
  cmd/git/AGENTS.md
  cmd/gz/AGENTS.md
  cmd/ide/AGENTS.md
  cmd/net-env/AGENTS.md
  cmd/pm/AGENTS.md
  cmd/profile/AGENTS.md
  cmd/quality/AGENTS.md
  cmd/registry/AGENTS.md
  cmd/repo-config/AGENTS.md
  cmd/shell/AGENTS.md
  cmd/synclone/AGENTS.md
  cmd/version/AGENTS.md
  scripts/check-agents.sh
Due: none

test: add helper for AppContext
  cmd/dev-env/aws_test.go
  cmd/dev-env/docker_test.go
  cmd/git/git_test.go
  cmd/ide/ide_test.go
  cmd/repo-config/integration_test.go
  cmd/repo-config/repo_config_test.go
  cmd/root_test.go
  cmd/synclone/config_test.go
  cmd/synclone/synclone_test.go
  internal/app/testcontext.go
Due: gofumpt, gci

chore: standardize on Go 1.22
  .github/workflows/ci.yml
  .github/workflows/performance.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  .golangci.yml
  README.md
  TECH_STACK.md
  cmd/doctor/doctor.go
  cmd/doctor/doctor_test.go
  docs/10-getting-started/10-installation.md
  docs/20-architecture/21-development-container.md
  docs/60-development/60-index.md
  docs/70-deployment/70-index.md
  docs/70-deployment/75-security-guidelines.md
  examples/misc/Dockerfile.example
  go.mod
  test/e2e/README.md
  test/integration/docker/README.md
  test/integration/github/scenarios.md
Due: gofumpt, gci, go-mod-tidy

chore: standardize on Go 1.22 (#63)
  .github/workflows/ci.yml
  .github/workflows/performance.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  .golangci.yml
  README.md
  TECH_STACK.md
  cmd/doctor/doctor.go
  cmd/doctor/doctor_test.go
  docs/10-getting-started/10-installation.md
  docs/20-architecture/21-development-container.md
  docs/60-development/60-index.md
  docs/70-deployment/70-index.md
  docs/70-deployment/75-security-guidelines.md
  examples/misc/Dockerfile.example
  go.mod
  test/e2e/README.md
  test/integration/docker/README.md
  test/integration/github/scenarios.md
Due: gofumpt, gci, go-mod-tidy
