Repository Gizzahub/gzh-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: fast-format-check, fast-lint-check, go-mod-tidy, markdown-format

fast-format-check:
  name: Fast Go format check
  entry: bash -c 'make fmt-diff'
  language: system
  pass_filenames: false

fast-lint-check:
  name: Fast Go lint check
  entry: bash -c 'make lint-diff'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go mod tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

markdown-format:
  name: Format markdown files
  entry: mdformat
  language: system
  require_serial: true

ci: verify cmd AGENTS files (#62)
  .github/workflows/ci.yml
  CLAUDE.md
  README.md
  cmd/actions-policy/AGENTS.md
  cmd/dev-env/AGENTS.md
  cmd/doctor/AGENTS.md
  cmd/git/AGENTS.md
  cmd/gz/AGENTS.md
  cmd/ide/AGENTS.md
  cmd/net-env/AGENTS.md
  cmd/pm/AGENTS.md
  cmd/profile/AGENTS.md
  cmd/quality/AGENTS.md
  cmd/registry/AGENTS.md
  cmd/repo-config/AGENTS.md
  cmd/shell/AGENTS.md
  cmd/synclone/AGENTS.md
  cmd/version/AGENTS.md
  scripts/check-agents.sh
Due: markdown-format

fix: foramt
  cmd/actions-policy/AGENTS.md
  cmd/dev-env/AGENTS.md
  cmd/doctor/AGENTS.md
  cmd/git/AGENTS.md
  cmd/gz/AGENTS.md
  cmd/ide/AGENTS.md
  cmd/net-env/AGENTS.md
  cmd/pm/AGENTS.md
  cmd/profile/AGENTS.md
  cmd/quality/AGENTS.md
  cmd/registry/AGENTS.md
  cmd/repo-config/AGENTS.md
  cmd/shell/AGENTS.md
  cmd/synclone/AGENTS.md
  cmd/version/AGENTS.md
Due: markdown-format

test: inject app context into remaining command tests
  cmd/net-env/net_env_test.go
  cmd/profile/profile_test.go
  cmd/quality/quality_test.go
Due: fast-format-check, fast-lint-check

refactor: export root command and tighten git tests
  cmd/git/git_test.go
  cmd/root.go
  cmd/root_test.go
Due: fast-format-check, fast-lint-check

imp: agents.md
  cmd/AGENTS_COMMON.md
  cmd/dev-env/AGENTS.md
  cmd/doctor/AGENTS.md
  cmd/git/AGENTS.md
  cmd/ide/AGENTS.md
  cmd/net-env/AGENTS.md
  cmd/pm/AGENTS.md
  cmd/profile/AGENTS.md
  cmd/quality/AGENTS.md
  cmd/registry/AGENTS.md
  cmd/repo-config/AGENTS.md
  cmd/shell/AGENTS.md
  cmd/synclone/AGENTS.md
  cmd/version/AGENTS.md
Due: markdown-format

feat(actions-policy): CLI 통합 및 명세서 차이점 분석 완료
  cmd/actions-policy/doc.go
  cmd/actions-policy/main.go
  cmd/actions-policy/register.go
  go.mod
  tasks/issue/dev-env-architecture-alignment.md
  tasks/issue/net-env-spec-implementation-gap.md
  tasks/issue/shell-spec-debug-access-update.md
Due: fast-format-check, fast-lint-check, go-mod-tidy, markdown-format

feat: add app context for shared dependencies (#59)
  cmd/dev-env/aws_test.go
  cmd/dev-env/dev_env.go
  cmd/dev-env/docker_test.go
  cmd/git/git.go
  cmd/git/git_test.go
  cmd/gz/main.go
  cmd/ide/ide.go
  cmd/ide/ide_test.go
  cmd/net-env/net_env.go
  cmd/net-env/net_env_test.go
  cmd/pm/pm.go
  cmd/profile/profile.go
  cmd/profile/profile_test.go
  cmd/quality/quality.go
  cmd/quality/quality_test.go
  cmd/repo-config/integration_test.go
  cmd/repo-config/repo_config.go
  cmd/repo-config/repo_config_test.go
  cmd/root.go
  cmd/root_test.go
  cmd/synclone/config.go
  cmd/synclone/config_test.go
  cmd/synclone/synclone.go
  cmd/synclone/synclone_gitea.go
  cmd/synclone/synclone_github.go
  cmd/synclone/synclone_gitlab.go
  cmd/synclone/synclone_state.go
  cmd/synclone/synclone_test.go
  cmd/synclone/synclone_validate.go
  docs/architecture.md
  internal/app/context.go
  internal/app/testcontext.go
  internal/apprunner/runner.go
Due: fast-format-check, fast-lint-check, markdown-format

security(audit): 전체 프로젝트 보안 감사 및 개인정보 보호 강화
  .goreleaser.yml
  examples/github/org-settings.yaml
  tasks/issue/security-audit-report-2024-12-19.md
  tasks/issue/security-environment-variables-guide.md
Due: markdown-format

task: 상세 테스트가이드
  tasks/plan/synclone-testing-automation.md
  tasks/plan/synclone-testing-phase1.md
  tasks/plan/synclone-testing-phase2.md
  tasks/plan/synclone-testing-phase3.md
  tasks/plan/synclone-testing-phase4.md
Due: markdown-format

security: prepare for history cleanup - add email replacement rules and documentation
  email-replacement-rules.txt
  tasks/plan/synclone-testing-automation.md
  tasks/plan/synclone-testing-phase1.md
  tasks/plan/synclone-testing-phase2.md
  tasks/plan/synclone-testing-phase3.md
  tasks/plan/synclone-testing-phase4.md
Due: markdown-format

security(complete): 프로젝트 보안 감사 완전 완료 - 98/100 우수 등급 달성
  email-replacement-rules.txt
  tasks/issue/security-audit-report-2024-12-19.md
  tasks/issue/security-final-status.md
Due: markdown-format

docs(shell): 디버그 전용 접근 명세서 완전 업데이트
  CLAUDE.md
  tasks/issue/security-audit-report-2024-12-19.md
  tasks/issue/security-environment-variables-guide.md
  tasks/issue/security-final-status.md
  tasks/issue/shell-spec-debug-access-update.md
Due: markdown-format

docs(net-env): 명세서와 구현 일치성 개선 - 대폭 간소화
  CLAUDE.md
  docs/30-features/34-network-management.md
  docs/99-appendix/99-glossary.md
  docs/testing/net-env/UC-001.md
  specs/net-env.md
  tasks/issue/net-env-spec-implementation-gap.md
Due: markdown-format

docs(dev-env): 아키텍처 접근법 정렬 - 하이브리드 접근법 채택
  CLAUDE.md
  docs/30-features/33-development-environment.md
  docs/99-appendix/99-glossary.md
  docs/testing/dev-env/UC-001.md
  specs/dev-env.md
  tasks/issue/dev-env-architecture-alignment.md
Due: markdown-format

fix(opus): 코드 품질 및 linting 이슈 개선
  .golangci.yml
  cmd/ide/core_detector.go
  cmd/repo-config/cmd_dashboard.go
  internal/netenv/reports/interface_speed.go
  internal/pm/sync/nvm_npm.go
  pkg/config/base_provider_adapter.go
Due: fast-format-check, fast-lint-check

refactor(opus): command registration 시스템 개선
  cmd/dev-env/register.go
  cmd/git/register.go
  cmd/ide/register.go
  cmd/net-env/register.go
  cmd/pm/register.go
  cmd/profile/register.go
  cmd/quality/register.go
  cmd/repo-config/register.go
  cmd/root.go
  cmd/synclone/register.go
Due: fast-format-check, fast-lint-check

test(opus): MockRepoFactory 테스트 인프라 추가
  cmd/git/git_test.go
  internal/testlib/basic_repo_creator.go
  internal/testlib/branch_manager.go
  internal/testlib/branch_strategy_tester.go
  internal/testlib/git_lfs_simulator.go
  internal/testlib/large_repo_creator.go
  internal/testlib/local_changes_simulator.go
  internal/testlib/merge_conflict_generator.go
  internal/testlib/mock_repo_factory.go
  internal/testlib/mock_repo_factory_test.go
  internal/testlib/network_error_simulator.go
  internal/testlib/standard_repo_creator.go
  internal/testlib/submodule_manager.go
Due: fast-format-check, fast-lint-check

fix(lint): resolve major linting errors across multiple files
  cmd/git/repo/repo_integration_test.go
  internal/devenv/status/types.go
  internal/pm/duplicates/detector.go
  internal/pm/sync/asdf_multi.go
  pkg/types/repoconfig/types.go
Due: fast-format-check, fast-lint-check

feat(format): apply code formatting with gofumpt and goimports
  internal/testlib/basic_repo_creator.go
  internal/testlib/branch_manager.go
  internal/testlib/branch_strategy_tester.go
  internal/testlib/git_lfs_simulator.go
  internal/testlib/large_repo_creator.go
  internal/testlib/local_changes_simulator.go
  internal/testlib/merge_conflict_generator.go
  internal/testlib/mock_repo_factory.go
  internal/testlib/standard_repo_creator.go
  internal/testlib/submodule_manager.go
Due: fast-format-check, fast-lint-check

feat(lint): resolve major lint issues and improve code quality
  cmd/ide/status/status.go
  cmd/net-env/net_env.go
  cmd/pm/cache/cache.go
  internal/pm/sync/asdf_multi.go
  internal/pm/sync/manager.go
  internal/pm/sync/nvm_npm.go
Due: fast-format-check, fast-lint-check

fix: lint
  cmd/dev-env/aws_test.go
  cmd/dev-env/docker_test.go
  cmd/dev-env/status.go
  cmd/doctor/dev_env_refactored_example.go
  cmd/ide/monitor/monitor.go
  cmd/ide/open/open.go
  cmd/ide/scan/scan.go
  cmd/net-env/actions/optimized_managers.go
  cmd/net-env/profile/cmd_profile.go
  cmd/net-env/profile/profile_unified.go
  cmd/net-env/profile/quick_unified.go
  cmd/net-env/status/status_unified.go
  cmd/pm/cache/cache.go
  cmd/pm/update/update.go
  cmd/repo-config/diff/diff.go
  cmd/repo-config/list/list.go
  cmd/version/version.go
  internal/pm/bootstrap/homebrew.go
  internal/pm/bootstrap/version_managers.go
  internal/pm/compat/compat.go
  internal/pm/compat/filters.go
  internal/pm/sync/nvm_npm.go
  internal/pm/sync/pyenv_pip.go
  internal/services/repoconfig.go
  pkg/cloud/interfaces.go
  pkg/types/repoconfig/schema.go
  pkg/types/repoconfig/types.go
  scripts/testing/synclone/cleanup-test-repos/main.go
Due: fast-format-check, fast-lint-check

fix: lint
  cmd/dev-env/azure_subscription.go
  cmd/dev-env/base_command.go
  cmd/dev-env/switch_all.go
  cmd/ide/list/list.go
  cmd/ide/open/open.go
  cmd/ide/open/open_test.go
  cmd/pm/cache/cache.go
  cmd/pm/doctor/doctor.go
  cmd/pm/export/export.go
  cmd/profile/profile.go
  cmd/quality/detector/language.go
  cmd/quality/tools/go_tools.go
  internal/cli/output_formatter.go
  internal/devenv/environment.go
  internal/idecore/detector.go
  internal/idecore/types.go
  internal/netenv/reports/comprehensive.go
  internal/netenv/reports/interface_speed.go
  internal/netenv/reports/system_info.go
  internal/pm/bootstrap/asdf.go
  internal/pm/bootstrap/homebrew.go
  internal/pm/bootstrap/types.go
  internal/pm/bootstrap/version_managers.go
  internal/services/repoconfig.go
  internal/simpleprof/profiler.go
  internal/testlib/branch_manager.go
  internal/testlib/branch_strategy_tester.go
  internal/testlib/local_changes_simulator.go
  internal/testlib/mock_repo_factory.go
  internal/testlib/standard_repo_creator.go
  pkg/config/base_provider_adapter.go
  pkg/config/unified_factory.go
  pkg/gzhclient/client.go
  scripts/testing/synclone/cleanup-test-repos/main.go
Due: fast-format-check, fast-lint-check

fix: lint
  cmd/doctor/godoc.go
  cmd/ide/fixsync/fixsync.go
  cmd/ide/scan/scan.go
  cmd/pm/cache/cache.go
  cmd/pm/doctor/doctor.go
  cmd/pm/install/install.go
  cmd/pm/update/update.go
  cmd/quality/quality.go
  cmd/quality/tools/base.go
  cmd/quality/tools/python_tools.go
  cmd/quality/tools/rust_tools.go
  cmd/repo-config/cmd_dashboard.go
  cmd/repo-config/cmd_list.go
  cmd/repo-config/cmd_risk.go
  cmd/repo-config/shared_types.go
  internal/devenv/switcher.go
  internal/devenv/tui/styles.go
  internal/logger/structured.go
  internal/netenv/flags.go
  internal/netenv/reports/latency.go
  internal/netenv/tui/messages.go
  internal/pm/bootstrap/homebrew.go
  internal/pm/bootstrap/version_managers.go
  internal/pm/duplicates/detector.go
  internal/synclone/discovery/repo_discoverer.go
  internal/tui/common/keymap.go
  internal/tui/common/messages.go
  pkg/config/provider_apis.go
  scripts/testing/synclone/setup-test-repos/commands.go
  scripts/testing/synclone/setup-test-repos/main.go
Due: fast-format-check, fast-lint-check

fix: lint
  cmd/doctor/container.go
  cmd/doctor/godoc.go
  cmd/doctor/health.go
  cmd/ide/core_detector.go
  cmd/ide/status/status.go
  cmd/net-env/cloud/cloud.go
  cmd/net-env/status/status_unified.go
  cmd/pm/advanced/advanced.go
  cmd/pm/cache/cache.go
  cmd/pm/update/update.go
  cmd/quality/quality.go
  cmd/synclone/config_generate_discover.go
  internal/analysis/godoc/analyzer.go
  internal/devenv/status/collector.go
  internal/devenv/status/types.go
  internal/devenv/switcher.go
  internal/netenv/logger.go
  internal/netenv/reports/comprehensive.go
  internal/netenv/reports/latency.go
  internal/netenv/reports/text_generator.go
  internal/netenv/types.go
  internal/netenv/utils.go
  internal/pm/bootstrap/asdf.go
  internal/pm/bootstrap/manager.go
  internal/pm/bootstrap/version_managers.go
  internal/pm/sync/manager.go
  internal/pm/sync/nvm_npm.go
  internal/pm/sync/pyenv_pip.go
  internal/pm/upgrade/homebrew.go
  internal/pm/upgrade/manager.go
  internal/profiling/benchmarks.go
  internal/profiling/middleware.go
  internal/services/repoconfig.go
  internal/simpleprof/profiler.go
  internal/synclone/discovery/repo_discoverer.go
  internal/testlib/standard_repo_creator.go
  internal/testlib/submodule_manager.go
  pkg/config/unified_factory.go
Due: fast-format-check, fast-lint-check

specs. testdata
  specs/synclone/README.md
  specs/synclone/test-commands.md
  specs/synclone/test-data.md
  specs/synclone/test-runner.sh
  specs/synclone/test-scenarios.md
Due: markdown-format

feat(claude-opus): selfupdate 명령어 추가
  cmd/root.go
  cmd/selfupdate/AGENTS.md
  cmd/selfupdate/register.go
  cmd/selfupdate/selfupdate.go
  cmd/selfupdate/selfupdate_test.go
Due: fast-format-check, fast-lint-check, markdown-format

chore(claude-opus): Go 1.23 요구사항 적용
  .golangci.yml
  cmd/doctor/doctor.go
Due: fast-format-check, fast-lint-check

fix(claude-opus): synclone github --org 플래그 인식 오류 수정
  cmd/synclone/synclone_github.go
Due: fast-format-check, fast-lint-check

fix(claude-opus): develop 브랜치 호환성을 위한 타입 정의 수정
  internal/devenv/status/collector.go
  internal/devenv/status/formatter.go
  internal/devenv/status/types.go
  pkg/config/loader.go
  pkg/config/unified_factory.go
Due: fast-format-check, fast-lint-check

chore(opus): Makefile 빌드 메시지 출력 수정
  Makefile.build.mk
Due: none

fix(opus): GitLab 클론 및 오류 처리 개선
  cmd/root.go
  cmd/synclone/synclone_gitlab.go
  internal/git/secure_git.go
  internal/logger/simple_logger.go
  pkg/gitlab/gitlab_group_clone.go
  pkg/gitlab/resumable_clone.go
  pkg/gitlab/visibility.go
Due: fast-format-check, fast-lint-check

fix(opus): Makefile 구문 오류 수정
  Makefile.build.mk
Due: none

docs(claude-opus): 프로젝트 전반의 Go 1.23+ 요구사항 통합
  TECH_STACK.md
  cmd/doctor/dev_env.go
  docs/10-getting-started/10-installation.md
  docs/20-architecture/21-development-container.md
  docs/60-development/60-index.md
  docs/70-deployment/70-index.md
  docs/70-deployment/75-security-guidelines.md
  test/integration/pm/README.md
Due: fast-format-check, fast-lint-check, markdown-format

test(claude-opus): Go 1.23+ 요구사항에 맞게 테스트 케이스 수정
  cmd/doctor/doctor_test.go
Due: fast-format-check, fast-lint-check

refactor(claude-opus): 타입명을 명확한 설명형으로 일괄 변경
  .golangci.yml
  cmd/dev-env/status.go
  cmd/git/repo/repo_extra_cmds.go
  cmd/git/repo/repo_sync.go
  cmd/selfupdate/selfupdate_test.go
  internal/config/factory.go
  internal/config/manager.go
  internal/config/validators.go
  internal/devenv/status/collector.go
  internal/devenv/status/formatter.go
  internal/devenv/status/formatter_test.go
  internal/devenv/status/types.go
  internal/git/mocks/git_mocks.go
  internal/git/sync/code.go
  internal/git/sync/engine.go
  internal/git/sync/options.go
  internal/git/sync/tracker.go
  internal/httpclient/constructors.go
  internal/httpclient/interfaces.go
  internal/httpclient/mocks/httpclient_mocks.go
  internal/pm/bootstrap/manager.go
  internal/workerpool/pool.go
  internal/workerpool/pool_test.go
  internal/workerpool/repository_pool.go
  pkg/config/loader.go
  pkg/config/unified_factory.go
  pkg/github/mocks/github_mocks.go
Due: fast-format-check, fast-lint-check

fix(opus): 린트 오류 및 테스트 모킹 개선
  internal/idecore/detector.go
  internal/netenv/reports/latency.go
  internal/netenv/utils.go
  internal/testlib/network_error_simulator.go
  internal/testlib/standard_repo_creator.go
  pkg/github/automation_engine_test.go
  tasks/issue/test.md
Due: fast-format-check, fast-lint-check, markdown-format

docs(opus): 테스트 문서 markdown 포맷 개선
  tasks/issue/test.md
Due: markdown-format

fix(opus): GitHub synclone 기본 경로를 org 이름으로 설정
  cmd/synclone/synclone_github.go
Due: fast-format-check, fast-lint-check

docs(opus): 프로젝트 용어사전 확장 및 업데이트
  docs/99-appendix/99-glossary.md
Due: markdown-format

Path conditions:
  fast-format-check: any of: \.go$
  fast-lint-check: any of: \.go$
  go-mod-tidy: any of: ^go\.(mod|sum)$
  markdown-format: any of: \.(md|markdown|mdown)$
