Repository Gizzahub/gzh-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofumpt, gci, go-mod-tidy

gofumpt:
  name: gofumpt
  entry: gofumpt -w
  language: system
  pass_filenames: true

gci:
  name: gci
  entry: gci write --skip-generated -s standard -s default -s "prefix(github.com/gizzahub/gzh-manager-go)"
  language: system
  pass_filenames: true

go-mod-tidy:
  name: go mod tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

feat(sonnet): Phase 1 codebase cleanup - remove duplicate scripts and dead code
  CODEBASE_CLEANUP_PLAN.md
  IMMEDIATE_CLEANUP_ACTIONS.md
  REFACTORING.md
  REFACTORING_CHECKLIST.md
  cmd/doctor/benchmark.go
  cmd/doctor/container.go
  cmd/doctor/performance_snapshots.go
  cmd/repo-config/repo_config_test.go
  internal/analysis/godoc/analyzer.go
  internal/cli/output_formatter.go
  internal/devenv/tui/model.go
  internal/errors/standard_errors.go
  internal/httpclient/interfaces.go
  internal/profiling/profiler.go
  internal/synclone/state/advanced_manager.go
  internal/synclone/state/analyzer.go
  pkg/config/loader.go
  scripts/aliases-unified.sh
  scripts/aliases.bash
  scripts/deprecated-aliases.fish
  scripts/deprecated-aliases.sh
Due: gofumpt, gci

feat(sonnet): Phase 2 code structure optimization - consolidate auth and logging
  internal/auth/token_manager.go
  internal/event/logger_adapter.go
  pkg/gitea/provider_factory.go
  pkg/github/provider_factory.go
  pkg/github/test_common.go
  pkg/github/test_helpers_test.go
  pkg/gitlab/provider_factory.go
Due: gofumpt, gci

feat(sonnet): Phase 3 & 4 cleanup - docs, configs, and code quality
  docs/04-configuration/configuration-priority-test.md
  docs/04-configuration/schemas/bulk-clone-schema.json
  docs/04-configuration/schemas/bulk-clone-schema.yaml
  examples/bulk-clone/bulk-clone-example.yaml
  examples/bulk-clone/bulk-clone-simple.yaml
  examples/synclone/gzh-example.yml
  examples/synclone/gzh-minimal.yml
  internal/devenv/status/collector.go
  internal/profiling/profiler.go
  internal/synclone/state/advanced_manager.go
Due: gofumpt, gci

test(sonnet): Add comprehensive TokenManager tests and final cleanup
  internal/auth/token_manager_test.go
Due: gofumpt, gci

refactor(git): move webhook and event commands to git directory
  .gitignore
  cmd/git.go
  cmd/git/event.go
  cmd/git/webhook.go
  cmd/git/webhook_simple_test.go
Due: gofumpt, gci

feat(specs): complete specs coverage with 5 new specification files
  cmd/format-multi/config.go
  cmd/format-multi/formatters/go.go
  cmd/format-multi/formatters/interface.go
  cmd/format-multi/formatters/javascript.go
  cmd/format-multi/formatters/kotlin.go
  cmd/format-multi/formatters/markdown.go
  cmd/format-multi/formatters/python.go
  cmd/format-multi/formatters/shell.go
  cmd/format-multi/formatters/yaml.go
  cmd/format-multi/main.go
  specs/actions-policy.md
  specs/man.md
  specs/profile.md
  specs/repo-config.md
  specs/shell.md
Due: gofumpt, gci

refactor(sonnet): clean up scripts directory - remove AI-generated clutter
  cmd/format-multi/main.go
  internal/auth/token_manager.go
  internal/auth/token_manager_test.go
  internal/devenv/status/collector.go
  scripts/README.md
  scripts/aliases-unified.sh
  scripts/e2e-test.sh
  scripts/migration/README.md
  scripts/migration/deprecated-aliases.fish
  scripts/migration/deprecated-aliases.sh
  scripts/migration/install-aliases.sh
  scripts/migration/migrate-gz.sh
  scripts/migration/rollback-gz.sh
  scripts/migration/uninstall-aliases.sh
  specs/README.md
Due: gofumpt, gci

feat(sonnet): complete legacy cleanup - remove deprecated compatibility code
  Makefile.build.mk
  cmd/git-synclone/all.go
  cmd/git-synclone/config.go
  cmd/git-synclone/config_test.go
  cmd/git-synclone/doc.go
  cmd/git-synclone/doctor.go
  cmd/git-synclone/gitea.go
  cmd/git-synclone/github.go
  cmd/git-synclone/gitlab.go
  cmd/git-synclone/integration_test.go
  cmd/git-synclone/main.go
  cmd/git-synclone/main_test.go
  cmd/git-synclone/providers/config_integration.go
  cmd/git-synclone/providers/error_handler.go
  cmd/git-synclone/providers/gitea.go
  cmd/git-synclone/providers/github.go
  cmd/git-synclone/providers/gitlab.go
  cmd/git-synclone/providers/output_formatter.go
  cmd/git-synclone/providers/provider.go
  cmd/git-synclone/providers/provider_test.go
  cmd/git-synclone/providers/session_manager.go
  cmd/git-synclone/providers/session_manager_test.go
  cmd/git-synclone/state.go
  cmd/git-synclone/validate.go
  debian/control
  debian/postinst
  homebrew/gzh-git-extensions.rb
  install.sh
  scripts/README.md
  scripts/install-git-extensions.sh
  scripts/migration/README.md
  scripts/migration/deprecated-aliases.fish
  scripts/migration/deprecated-aliases.sh
  scripts/migration/install-aliases.sh
  scripts/migration/migrate-gz.sh
  scripts/migration/rollback-gz.sh
  scripts/migration/uninstall-aliases.sh
  scripts/uninstall-git-extensions.sh
Due: gofumpt, gci

fix(sonnet): resolve GitHub Actions workflow failures
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  cmd/format-multi/config.go
  cmd/format-multi/main.go
Due: gofumpt, gci

feat(sonnet): gz quality 통합 코드 품질 관리 시스템 구현
  .gzquality.yml
  cmd/format-multi/config.go
  cmd/format-multi/formatters/go.go
  cmd/format-multi/formatters/interface.go
  cmd/format-multi/formatters/javascript.go
  cmd/format-multi/formatters/kotlin.go
  cmd/format-multi/formatters/markdown.go
  cmd/format-multi/formatters/python.go
  cmd/format-multi/formatters/shell.go
  cmd/format-multi/formatters/yaml.go
  cmd/format-multi/main.go
  cmd/net-env/.kube/cache/http/0afaf23ef32ef9d6dd506299a949cec70bdef69a14a87496b6a4b65c10fa1c4f
  cmd/net-env/.kube/cache/http/859e5574972018b481cf40fcba021a31756afcc36a2b88b1f6aaf9dfd67b21cd
  cmd/quality/config/config.go
  cmd/quality/detector/language.go
  cmd/quality/detector/tools.go
  cmd/quality/executor/runner.go
  cmd/quality/git/utils.go
  cmd/quality/quality.go
  cmd/quality/report/generator.go
  cmd/quality/tools/base.go
  cmd/quality/tools/go_tools.go
  cmd/quality/tools/interface.go
  cmd/quality/tools/javascript_tools.go
  cmd/quality/tools/python_tools.go
  cmd/quality/tools/registry.go
  cmd/quality/tools/rust_tools.go
  cmd/root.go
Due: gofumpt, gci

chore: doc
  docs/04-configuration/schemas/gzh-schema.json
Due: none

chore: remove unused
  CODEBASE_CLEANUP_PLAN.md
  IMMEDIATE_CLEANUP_ACTIONS.md
Due: none

feat(ci): consolidate GitHub Actions workflows and eliminate duplications
  .github/workflows-backup/ci.yml
  .github/workflows-backup/claude-code-review.yml
  .github/workflows-backup/claude.yml
  .github/workflows-backup/commitlint.yml
  .github/workflows-backup/coverage.yml
  .github/workflows-backup/dependabot-auto-merge.yml
  .github/workflows-backup/goreleaser.yml
  .github/workflows-backup/lint.yml
  .github/workflows-backup/performance-benchmarks.yml
  .github/workflows-backup/release.yml
  .github/workflows-backup/test-coverage.yml
  .github/workflows-backup/test.yml
  .github/workflows/ci.yml
  .github/workflows/claude-ai.yml
  .github/workflows/performance.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
Due: none

chore: del useless ghaction
  .github/workflows-backup/ci.yml
  .github/workflows-backup/claude-code-review.yml
  .github/workflows-backup/claude.yml
  .github/workflows-backup/commitlint.yml
  .github/workflows-backup/coverage.yml
  .github/workflows-backup/dependabot-auto-merge.yml
  .github/workflows-backup/goreleaser.yml
  .github/workflows-backup/lint.yml
  .github/workflows-backup/performance-benchmarks.yml
  .github/workflows-backup/release.yml
  .github/workflows-backup/test-coverage.yml
  .github/workflows-backup/test.yml
  .github/workflows/ci.yml
  .github/workflows/performance.yml
  .github/workflows/quality.yml
  docs/backlog/enterprise/ci-cd/github-actions-management.md
Due: none

feat(sonnet): complete quality pipeline fixes - goconst and type issues
  .golangci.yml
  .pre-commit-hooks.yaml
  internal/container/validation.go
  internal/devenv/status/docker_checker.go
  internal/devenv/status/formatter.go
  internal/synclone/state/advanced_manager.go
  internal/synclone/state/analyzer.go
  internal/synclone/state/resume_engine.go
Due: gofumpt, gci

refactor(sonnet): remove unused internal/legacy package
  internal/legacy/doc.go
  internal/legacy/errors.go
  internal/legacy/errors_test.go
  tasks/done/11-dev-env-switch-all-command__DONE_20250728.md
  tasks/done/12-dev-env-unified-status__DONE_20250728.md
  tasks/done/13-net-env-simplified-interface__DONE_20250728.md
  tasks/done/14-synclone-advanced-config-generation__DONE_20250728.md
  tasks/done/15-dev-env-tui-dashboard__DONE_20250728.md
  tasks/done/16-net-env-tui-dashboard__DONE_20250729.md
  tasks/qa/git-repo-management.qa.md
  tasks/qa/git-synclone-implementation.qa.md
  tasks/refactoring/architecture-simplification.md
  tasks/refactoring/cleanup-action-plan.md
  tasks/refactoring/unused-code-analysis.md
Due: gofumpt, gci

refactor(sonnet): remove unused internal/api package
  internal/api/batcher.go
  internal/api/deduplicator.go
  internal/api/doc.go
  internal/api/enhanced_rate_limiter.go
  internal/api/optimization_manager.go
  internal/api/optimization_test.go
Due: gofumpt, gci

docs(sonnet): 리팩토링 분석 문서 업데이트 및 검증 스크립트 추가
  scripts/verify-cleanup.sh
  tasks/refactoring/architecture-simplification.md
  tasks/refactoring/cleanup-action-plan.md
  tasks/refactoring/phase2-architecture-analysis.md
  tasks/refactoring/unused-code-analysis.md
Due: none

refactor(sonnet): simplify container usage by removing unused DI complexity
  cmd/repo-config/container_integration.go
  cmd/root.go
  cmd/synclone/container_integration.go
  internal/app/runner.go
Due: gofumpt, gci

feat(sonnet): add performance regression monitoring to verification script
  scripts/verify-cleanup.sh
Due: none

del unused or finished doc
  tasks/SPEC_COMPLIANCE_REPORT.md
  tasks/refactoring/cleanup-action-plan.md
  tasks/refactoring/phase2-architecture-analysis.md
Due: none

feat(sonnet): complete architecture simplification with performance monitoring
  cmd/profile/profile.go
  internal/container/builder.go
  internal/container/container.go
  internal/container/container_test.go
  internal/container/validation.go
  internal/simpleprof/profiler.go
  scripts/benchmark-performance.sh
  scripts/simple-benchmark.sh
Due: gofumpt, gci

docs(sonnet): complete architecture simplification documentation
  CLAUDE.md
  docs/adr-001-architecture-simplification.md
Due: none

fix: lint
  CLAUDE.md
  cmd/profile/profile.go
  cmd/root.go
  docs/adr-001-architecture-simplification.md
  internal/simpleprof/profiler.go
  scripts/benchmark-performance.sh
  scripts/simple-benchmark.sh
  scripts/verify-cleanup.sh
Due: gofumpt, gci

fix(sonnet): resolve lint issues in simpleprof package
  internal/simpleprof/profiler.go
Due: gofumpt, gci

chore(sonnet): cleanup refactoring documentation and hooks
  .pre-commit-hooks.yaml
  docs/adr-001-architecture-simplification.md
  tasks/refactoring/architecture-simplification.md
Due: none

docs(sonnet): 완전한 specs와 CLI 명령어 동기화
  specs/README.md
  specs/ide.md
  specs/lint.md
  specs/quality.md
Due: none

docs: add comprehensive command reference and feature documentation
  docs/03-core-features/ide-management.md
  docs/03-core-features/performance-profiling.md
  docs/03-core-features/quality-management.md
  docs/03-core-features/synclone-guide.md
  docs/04-configuration/schemas/ide-schema.yaml
  docs/04-configuration/schemas/quality-schema.yaml
  docs/04-configuration/schemas/synclone-schema.yaml
  docs/05-command-reference/README.md
  docs/05-command-reference/dev-env.md
  docs/05-command-reference/git.md
  docs/05-command-reference/ide.md
  docs/05-command-reference/net-env.md
  docs/05-command-reference/pm.md
  docs/05-command-reference/profile.md
  docs/05-command-reference/quality.md
  docs/05-command-reference/repo-config.md
  docs/05-command-reference/synclone.md
Due: none

docs: update existing documentation for better clarity and completeness
  docs/01-getting-started/README.md
  docs/02-architecture/overview.md
  docs/03-core-features/git-unified-command.md
  docs/06-development/debugging-guide.md
  docs/06-development/pre-commit-guide.md
  docs/INDEX.md
Due: none

examples: add new configuration examples for ide and quality modules
  examples/ide/ide-monitor.yaml
  examples/quality/quality-example.yaml
  examples/quality/quality-simple.yaml
Due: none

examples: update existing examples and documentation
  examples/README.md
  examples/synclone/synclone-example.yaml
  examples/synclone/synclone-simple.yaml
Due: none

feat: enhance core functionality and code quality
  cmd/git/repo_clone.go
  cmd/pm/pm.go
  cmd/synclone/synclone_test.go
  pkg/config/migration.go
  pkg/synclone/config_loader_test.go
  pkg/synclone/example_config_test.go
  pkg/synclone/example_test.go
  pkg/synclone/schema_validator.go
  pkg/synclone/schema_validator_test.go
  pkg/synclone/synclone.yaml
Due: gofumpt, gci

config: update project configuration and metadata
  .gitignore
  README.md
  SECURITY.md
  TECH_STACK.md
  go.mod
  go.sum
  tools/tools.go
Due: gofumpt, gci, go-mod-tidy

cleanup: remove obsolete files and directories
  .roo/mcp.json
  api-docs/README.md
  benchmark-artifacts/benchmark-report-20250730-160511.json
  benchmark-artifacts/benchmark-report-20250730-160515.json
  cmd/pm/legacy.go
  examples/gzh-unified/gzh-development.yaml
  examples/gzh-unified/gzh-enterprise.yaml
  examples/gzh-unified/gzh-multi-provider.yaml
  examples/gzh-unified/gzh-simple.yaml
  examples/gzh-unified/gzh-unified-example.yaml
  internal/git/clone/legacy.go
Due: gofumpt, gci

fix: lint
  specs/ide.md
  specs/quality.md
Due: none

feat(pm): 호환성 구성 파일/모드 추가 및 strict 지원
  cmd/pm/update.go
  internal/app/runner.go
  internal/pm/compat/compat.go
  internal/pm/compat/filters.go
Due: gofumpt, gci

feat(pm): 선택 업데이트/드라이런 강화 및 asdf 최신 스킵
  cmd/pm/update.go
Due: gofumpt, gci

feat(pm): doctor/compat 고도화 및 계획 작업 완료 이동
  cmd/pm/doctor.go
  cmd/pm/pm.go
  cmd/pm/update.go
  internal/pm/compat/compat.go
  internal/pm/compat/filters.go
  tasks/plan/overview.md
Due: gofumpt, gci

docs(pm): compat/doctor/JSON 출력 문서화 추가
  docs/01-getting-started/README.md
  docs/04-configuration/compat-yaml.md
  docs/05-command-reference/pm-doctor.md
  docs/05-command-reference/pm.md
  specs/compatibility-rules.md
  specs/package-manager.md
Due: none

Path conditions:
  gofumpt: any of: \.go$
  gci: any of: \.go$
  go-mod-tidy: any of: ^go\.(mod|sum)$
